@charset "utf-8";

@font-face {
    font-family: 'NotoKrL';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans Light'), local('NotoSans-Light'), url('/resource/webfonts/NotoSansKR/fonts/woff/NotoSansKR-Light-Hestia.woff');
    src: url('/resource/webfonts/NotoSansKR/fonts/eot/NotoSansKR-Light-Hestia.eot?#iefix') format('embedded-opentype'),
    url('/resource/webfonts/NotoSansKR/fonts/woff/notokr-light.woff2') format('woff2'),
    url('/resource/webfonts/NotoSansKR/fonts/woff/NotoSansKR-Light-Hestia.woff') format('woff');
}

@font-face {
    font-family: 'NotoKrR';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'), url('/resource/webfonts/NotoSansKR/fonts/woff/NotoSansKR-Regular-Hestia.woff');
    src: url('/resource/webfonts/NotoSansKR/fonts/eot/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'),
    url('/resource/webfonts/NotoSansKR/fonts/woff/notokr-regular.woff2') format('woff2'),
    url('/resource/webfonts/NotoSansKR/fonts/woff/NotoSansKR-Regular-Hestia.woff') format('woff');
}

@font-face {
    font-family: 'NotoKrM';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'), url('/resource/webfonts/NotoSansKR/fonts/woff/NotoSansKR-Medium-Hestia.woff');
    src: url('/resource/webfonts/NotoSansKR/fonts/eot/NotoSansKR-Medium-Hestia.eot?#iefix') format('embedded-opentype'),
    url('/resource/webfonts/NotoSansKR/fonts/woff/notokr-medium.woff2') format('woff2'),
    url('/resource/webfonts/NotoSansKR/fonts/woff/NotoSansKR-Medium-Hestia.woff') format('woff');
}

@font-face {
    font-family: 'NotoKrB';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('/resource/webfonts/NotoSansKR/fonts/eot/NotoSansKR-Bold-Hestia.eot');
    src: url('/resource/webfonts/NotoSansKR/fonts/eot/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'),
    url('/resource/webfonts/NotoSansKR/fonts/woff/notokr-bold.woff2') format('woff2'),
    url('/resource/webfonts/NotoSansKR/fonts/woff/NotoSansKR-Bold-Hestia.woff') format('woff');
}


* {
    font-family: "NotoKrL";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    -webkit-text-size-adjust: none;
    width: 100%;
    /*
    overflow-y:scroll;
    overflow-x:auto;
    scrollbar-face-color:#FFFFFF;
    scrollbar-shadow-color:#999999;
    scrollbar-highlight-color: #999999;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #666666;
    */
}

body {
    width: 1366px;
    margin: 0 auto;
    padding: 0;
    font-weight: normal;
    font-size: 12px;
    color: #3b3b3b;
    background-color: #fff;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, th, td, caption {
    margin: 0;
    padding: 0;
}

h1, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    font-family: 'NotoKrR'
}

h2 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    font-family: 'NotoKrm'
}

th, strong, em {
    font-weight: normal;
}

ul, ol {
    list-style: none;
}

body img, img {
    vertical-align: top;
    border: 0 none;
    margin: 0;
    padding: 0;
    line-height: 0px;
}

table {
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

table caption {
    display: none;
}

fieldset {
    border: 0;
}

legend {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    visibility: hidden;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
}

select, input, textarea, button {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    /*-webkit-appearance: none;*/
    border-radius: 0;
    box-shadow: 0;
    vertical-align: top;
}

textarea {
    resize: none;
}

button {
    cursor: pointer;
    vertical-align: top;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a, a:hover, a:focus, a:active {
    color: #000;
}

hr {
    clear: both;
    display: none;
}

em, address, cite {
    font-style: normal;
    font-family: 'NotoKrR'
}

/* common */
.clfix {
    display: inline-block;
}

.clfix {
    display: block;
}

* html .clfix {
    height: 1%;
}

/* hides from ie-mac */
.clfix {
    zoom: 1;
}

/*for ie 5.5-7*/

a, img {
    selector-dummy: expression(this.hideFocus=true);
}

a {
    color: #666;
    text-decoration: none;
}

a:link, a:visited {
    color: #666;
    text-decoration: none;
}

a:hover, a:focus {
    color: #222;
    text-decoration: none;
}

a:active {
    color: #666;
}

table caption {
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    font: 0/0, Dotum, Gulim, AppleGothic, Sans-Serif;
}

input {
    margin: 0;
    padding: 0;
    line-height: 16px;
    font-size: 16px;
    color: #555
}

button {
    border: 0;
    cursor: pointer;
}

textarea {
    border: 1px solid #cccccc;
}

.f24 {
    font-size: 24px !important
}

.hide {
    display: none;
}

.t_bold {
    font-weight: bold;
}

.clr_blue {
    color: #1565c0
}

.clr_red {
    color: #b1310a
}

.clr_gray {
    color: #888
}

.pdb20 {
    padding-bottom: 20px;
}

.pdb30 {
    padding-bottom: 30px;
}

.pdb35 {
    padding-bottom: 35px;
}

.pdb40 {
    padding-bottom: 40px !important;
}

.mt10 {
    margin-top: 10px !important
}

.mt15 {
    margin-top: 15px !important
}

.mt40 {
    padding-top: 40px !important
}

.mrb0 {
    margin-bottom: 0px !important;
}

.mrb30 {
    margin-bottom: 30px;
}

.mrb35 {
    margin-bottom: 35px;
}

.mrb50 {
    margin-bottom: 50px !important
}

.mrb60 {
    margin-bottom: 60px !important
}

.mrb80 {
    margin-bottom: 80px !important
}

.mrb100 {
    margin-bottom: 100px !important
}

.mmt15 {
    margin-top: -15px !important
}

.mmt20 {
    margin-top: -20px !important
}

.mmt30 {
    margin-top: -30px !important
}

.mmt100 {
    margin-top: -100px !important
}

.mtb60 {
    margin-top: 60px !important;
    margin-bottom: 60px !important
}

.mtb80 {
    margin-bottom: 80px !important
}

/* Layout */
#header {
    width: 100%;
}

#header .logo_box {
    position: relative;
    width: 100%;
    height: 56px;
}

.logo_box .logo {
    position: absolute;
    top: 14px;
    left: 20px;
}

#container {
    clear: both;
}

.content_box {
    overflow: hidden;
}

.content_box .lt_box {
    float: left;
    width: 966px;
    border-top: 4px solid #0151aa
}

.content_box .rt_box {
    float: right;
    width: 400px;
    height: 708px;
    background: #fbfbfb;
    border-top: 4px solid #d4d4d4
}

.content_box .lt_box2 {
    float: left;
    width: 894px;
    border-top: 4px solid #ffffff
}

.content_box .rt_box2 {
    float: right;
    width: 472px;
    height: 768px;
    background: #fbfbfb;
    border-top: 4px solid #ffffff
}

.content_box .lt_box .nav_sec {
}

.main_visual img {
    width: 966px;
    height: 642px;
}

.main_visual_full img {
    width: 894px;
    height: 768px;
}

.sub_visual {
    width: 966px;
    height: 642px;
}

.content_box .nav_sec {
    width: 100%;
    height: 100%;
}

.content_box .nav_sec ul {
    overflow: hidden;
    background: url(/images/siis/main/bg_nav.gif) 0 0 repeat-x
}

.content_box .nav_sec li {
    width: 107px;
    height: 66px;
    float: left;
    letter-spacing: -0.05em
}

.content_box .nav_sec li a {
    display: block;
    font-size: 16px;
    line-height: 66px;
    color: #333;
    text-align: center;
}

.content_box .title {
    margin: 92px 0 0 0;
    text-align: center;
    font-size: 32px;
    color: #3b3b3b
}

.content_box .title2 {
    margin: 96px 0 0 0;
    text-align: center;
    font-size: 32px;
    color: #3b3b3b
}

.content_box .txt {
    margin: 20px 0 0 0;
    font-size: 18px;
    line-height: 24px;
    color: #707070;
    text-align: center;
    font-family: 'NotoKrL';
}

.content_box .login_box {
    margin: 42px auto 0 auto;
    width: 256px;
}

.content_box .login_box input {
    border: 1px solid #cbcbcb;
    padding-left: 10px;
    width: 244px;
    height: 44px;
    margin-bottom: 10px;
    background: #fff
}

.content_box .login_box2 {
    margin: 42px auto 0 auto;
    width: 268px;
}

.content_box .login_box2 input, .content_box .login_box2 select {
    border: 1px solid #cbcbcb;
    padding-left: 10px;
    width: 258px;
    height: 44px;
    margin-bottom: 10px;
    background: #fff
}

.content_box .login_box2 select {
}

.btn_login_go, .btn_join_go {
    margin: 0 auto;
    width: 256px;
}

.btn_login_go button {
    display: block;
    width: 254px;
    height: 44px;
    border-width: 1px;
    border-style: solid;
    border-color: #004fab;
    background: #004fab;
    border-radius: 4px;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    color: #fff
}

.btn_login_go2, .btn_join_go2 {
    margin: 0 auto;
    width: 270px;
}

.btn_login_go2 button {
    display: block;
    width: 270px;
    height: 44px;
    border-width: 1px;
    border-style: solid;
    border-color: #004fab;
    background: #004fab;
    border-radius: 4px;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    color: #fff;
    margin-left: 1px;
}

.btn_join_go {
    margin-top: 20px
}

.btn_join_go button {
    display: inline-block;
    width: 124px;
    height: 44px;
    border-width: 1px;
    border-style: solid;
    border-color: #b9b9b9;
    background: #b9b9b9;
    border-radius: 4px;
    font-size: 16px;
    line-height: 12px;
    text-align: center;
    color: #fff
}

.btn_join_go button:first-child {
    margin-left: 0;
}

.btn_join_go .go_join, .btn_join_go .chk_box {
    float: left;
}

.btn_join_go .pw_reset {
    float: right
}

.btn_join_go .chk_box input, .btn_join_go .chk_box label {
    vertical-align: middle
}

.btn_join_go2 {
    margin-top: 20px;
}

.btn_join_go2 button {
    display: inline-block;
    width: 132px;
    height: 44px;
    border-width: 1px;
    border-style: solid;
    border-color: #b9b9b9;
    background: #b9b9b9;
    border-radius: 4px;
    font-size: 16px;
    line-height: 12px;
    text-align: center;
    color: #fff
}

.btn_join_go2 button:first-child {
    margin-left: 1px;
}

.btn_join_go2 .go_join2 .btn_join_go2 .chk_box {
    float: left;
}

.btn_join_go2 .pw_reset {
    float: right
}

.btn_join_go2 .chk_box {
    display: inline-block;
    float: left;
    cursor: pointer;
    margin-top: 8px
}

.btn_join_go2 .chk_box input, .btn_join_go2 .chk_box label {
    vertical-align: middle
}

.btn_join_go2 .chk_box input, .btn_join_go2 .chk_box label {
    margin-top: 4px;
    font-size: 16px;
}

.footer_box {
    margin: 110px auto 0 auto;
    padding: 44px 0 0 27px;
    width: 320px;
    border-top: 1px dashed #d7d7d7
}

.footer_box .type {
    padding: 0 0 10px 0;
    display: block;
    font-size: 16px;
    color: #333
}

.footer_box .copy {
    padding: 20px 0 0 0;
    font-size: 13px;
    color: #6f6f6f
}

.footer_box2 {
    margin: 160px auto 0 auto;
    padding: 44px 0 0 27px;
    width: 340px;
    border-top: 1px dashed #d7d7d7
}

.footer_box2 .type {
    display: block;
    font-size: 16px;
    color: #4b4b4b
}

.footer_box2 .copy {
    padding: 5px 0 0 0;
    margin-top: 30px;
    font-size: 14px;
    color: #6f6f6f;
}

/* SUB */
.sub_visual {
    width: 100%;
    height: 642px;
    overflow-y: scroll
}

/* footer */
#footer {
    clear: both;
    width: 100%;
    height: 100%;
}

/* layer bottom */
.layer_sec , .layer_sec2 {display:none; position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; z-index:9999;}
.layer_sec .bg ,.layer_sec2 .bg {position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:.5; filter:alpha(opacity=50);}
.layer_sec , .layer_sec3 {display:none; position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; z-index:9999;}
.layer_sec .bg ,.layer_sec3 .bg {position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:.5; filter:alpha(opacity=50);}
.layer_sec .layer_popup_box , .layer_sec2 .layer_popup_box {display:block;}

.layer_popup_box { background-color:#fff; position:fixed; z-index: 9999;}
.layer_popup_box .pop_header{padding:15px 0 20px 0;text-align:center;border-top:10px solid #0050aa;font-size:28px;letter-spacing:-0.05em;color:#252525;font-family:'NotoKrB';}
.layer_popup_box .pop_header em{position:absolute;left:50%;top:38px;margin-left:-20px;display:inline-block;width:40px;border-bottom:1px solid #0151aa}
.layer_popup_box .pop_container {margin:5px auto;padding:0;text-align:left}
.pop_conts {
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}

.pop_container label {
    clear: both;
    float: left;
    font-weight: bold;
    font-size: 15px;
    width: 28px;
}

.pop_container strong {
    margin: 1px 0 1px 18px;
}

.pop_container pre {
    height: 233px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 1px 0 1px 46px;
    width: 621px;
    white-space: normal;
}

.pop_att_file {
    float: left;
    margin: 1px 0 1px 18px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    width: 621px;
    height: 66px;
}

.layer_popup_box .ctxt {width:100%;height:100%;overflow-y:scroll;padding:0 10px;margin:5px auto;color:#333;font-size:15px;line-height:22px;text-align:left;border:none;letter-spacing:-0.03em;}
.layer_popup_box .ctxt span{color:#707070}
.layer_popup_box .btn-r {margin:12px 0 0 0; text-align:center;}
.layer_popup_box a.aTxt {display:inline-block; padding:0; font-size:12px; color:#0050aa; text-align:center;font-family:'NotoKrM';}
.layer_popup_box a.cbtn {display:inline-block; width:170px; height:46px; padding:0; border:1px solid #0050aa; border-radius:4px; background-color:#0050aa; font-size:18px; color:#fff; line-height:46px;text-align:center;font-family:'NotoKrM';}
/*.layer_popup_box a.cbtn:hover {border: 1px solid #6a6a6a; background-color:#6a6a6a; color:#fff;}*/

.layer_popup_box .pop_container .pop_conts .ctxt .tbl_lst{width:100%;border:1px solid #b8b8b8;margin:5px auto;}
.layer_popup_box .pop_container .pop_conts .ctxt .tbl_lst th{padding:8px 8px 8px 8px;text-align:center;font-size:12px;color:#404141;background:#eeeeee;}
.layer_popup_box .pop_container .pop_conts .ctxt .tbl_lst th, .tbl_lst td{border:1px solid #b8b8b8}
.layer_popup_box .pop_container .pop_conts .ctxt .tbl_lst td{text-align:center;padding-left:6px;color:#404141;font-size:12px;white-space:normal;}

.layer_popup_box .pop_container .pop_conts .ctxt .tbl_lst td.txt_c{text-align:center}
.layer_popup_box .pop_container .pop_conts .ctxt .tbl_lst td.txt_l{text-align:left}
