@charset "utf-8";

* {
    width :100%;
    height: 100%;
    margin : 0 auto;
    padding : 0;
    font-family: "NotoKrL";
}
.main {
    display: table;
}
.divCon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.login {
    width:372px;
    height: 460px;
    background-color: #fff;
    border : #e1e1e1 solid 1px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}
.commWidth {
    width : 256px;
    display : block;
}
.logoImg {
    margin-top : 40px;
    height : 44px;
}
.systemTxt {
    height : 14px;
    color : #919191;
    text-align : right;
    margin-top:10px;
    margin-bottom:30px;
    font-size: 15pt;
    font-weight: 500;
    /*font-family : ;*/
}
.input {
    margin-top : 10px;
    height : 45px;
    font-size:16px;
    color: #c2c2c2;
    width: 225px;
    padding: 0 16px;
}
.btnWidth {
    width : 260px;
}
.loginBtn {
    background-color : #0050aa;
    border-radius: 4px;
    display : table-cell;
    vertical-align : middle;
    color : white;
    font-size: 18px;
    cursor : pointer;
}
.chkBox{
    width : 20px;
    height : 20px;
    margin-top : 20px;
    margin-right : 5px;
    vertical-align:-3px;
}
.footOut {
    border-top : dashed #dadada 1px;
    margin-top:40px;
    height : 100%;
    background-color: #f3f3f3;
    color : #969696;
}
.footer {
    width : 372px;
    height : 100px;
    font-size : 14px;
    display : table-cell;
    vertical-align : middle;
}
.footer1 {
    color: #333333;
}