<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st_ones.nhepro.SPOR.SPOR0010_Mapper">
    <select id="spor0010_doSearch" parameterType="hashMap" resultType="hashMap">
        SELECT
        	  POHD.GATE_CD
            , PODT.PR_BUYER_CD AS PR_BUYER_CD
            , PODT.PR_DEPT_CD AS PR_DEPT_CD
            , PODT.PR_BUYER_DEPT_NM AS PR_BUYER_DEPT_NM
            , POHD.BUYER_CD
            , POHD.DEPT_CD
            ,<include refid="common.sql.dbo"/>GETBUYERDEPTNAME(POHD.GATE_CD, POHD.BUYER_CD, POHD.DEPT_CD, #{ses.langCd}) AS BUYER_DEPT_NM
            , POHD.VENDOR_RECEIPT_STATUS
            , POHD.PO_CREATE_DATE
            , POHD.PO_CREATE_TYPE
            , POHD.PO_NUM
            , POHD.ATT_FILE_NUM
            ,<include refid="common.sql.dbo"/>GETFILECOUNT(POHD.GATE_CD, POHD.ATT_FILE_NUM) AS ATT_FILE_NUM_CNT
            , POHD.SUBJECT
            , PODT.ITEM_CNT
            , POHD.PO_AMT
            , POHD.VENDOR_RECEIPT_DATE
            , POHD.VENDOR_RECEIPT_USER_ID
            ,<include refid="common.sql.dbo"/>GETUSERNAME(POHD.GATE_CD, POHD.VENDOR_RECEIPT_USER_ID, #{ses.langCd}) AS VENDOR_RECEIPT_USER_NM
            ,<include refid="common.sql.dbo"/>GETUSERINFO(POHD.GATE_CD, POHD.VENDOR_RECEIPT_USER_ID, 'USER_TYPE') AS VENDOR_RECEIPT_USER_TYPE
            , POHD.VENDOR_REJECT_RMK
            , POHD.INSPECT_USER_ID
            ,<include refid="common.sql.dbo"/>GETUSERNAME(POHD.GATE_CD, POHD.INSPECT_USER_ID, #{ses.langCd}) AS INSPECT_USER_NM
            ,<include refid="common.sql.dbo"/>GETUSERINFO(POHD.GATE_CD, POHD.INSPECT_USER_ID, 'USER_TYPE') AS INSPECT_USER_TYPE
            , POHD.CTRL_USER_ID
            ,<include refid="common.sql.dbo"/>GETUSERNAME(POHD.GATE_CD, POHD.CTRL_USER_ID, #{ses.langCd}) AS CTRL_USER_NM
            ,<include refid="common.sql.dbo"/>GETUSERINFO(POHD.GATE_CD, POHD.CTRL_USER_ID, 'USER_TYPE') AS CTRL_USER_TYPE
            , POHD.DELIVERY_TYPE
         FROM STOCPOHD POHD
         LEFT JOIN (SELECT
                    	  PODT.GATE_CD
                        , POHD.BUYER_CD
                        , POHD.PO_NUM
                        , PODT.PR_BUYER_CD
                        ,<include refid="common.sql.dbo"/>GETCOMPANYNAME(PODT.GATE_CD, PODT.PR_BUYER_CD, #{ses.langCd}) AS PR_BUYER_NM
                        , PODT.PR_DEPT_CD
                        ,<include refid="common.sql.dbo"/>GETDEPTNAME(PODT.GATE_CD, PODT.PR_BUYER_CD, PODT.PR_DEPT_CD, #{ses.langCd}) AS PR_DEPT_NM
                        ,<include refid="common.sql.dbo"/>GETBUYERDEPTNAME(PODT.GATE_CD, PODT.PR_BUYER_CD, PODT.PR_DEPT_CD, #{ses.langCd}) AS PR_BUYER_DEPT_NM
                        , COUNT(PODT.ITEM_CD) AS ITEM_CNT
                     FROM STOCPOHD POHD
                     LEFT JOIN STOCPODT PODT
                          ON (PODT.GATE_CD  = POHD.GATE_CD
                          AND PODT.BUYER_CD = POHD.BUYER_CD
                          AND PODT.PO_NUM   = POHD.PO_NUM
                          AND PODT.DEL_FLAG = '0')
                    WHERE POHD.GATE_CD = #{ses.gateCd}
                      AND POHD.DEL_FLAG  = '0'
                      AND POHD.VENDOR_CD = #{ses.companyCd}
                      AND POHD.VENDOR_RECEIPT_STATUS IS NOT NULL
                      AND POHD.FORCE_CLOSE_FLAG = '0'
                    <if test="FROM_PO_DATE != '' and FROM_PO_DATE != null">
                        AND POHD.PO_CREATE_DATE <![CDATA[>=]]> <include refid="common.sql.toDateFrom"/>(#{FROM_PO_DATE})
                    </if>
                    <if test="TO_PO_DATE != '' and TO_PO_DATE != null">
                        AND POHD.PO_CREATE_DATE <![CDATA[<=]]> <include refid="common.sql.toDateTo"/>(#{TO_PO_DATE})
                    </if>
                    <if test="PO_NUM != '' and PO_NUM != null">
                        AND UPPER(POHD.PO_NUM) LIKE '%' <include refid="common.sql.stringMerge"/> UPPER(#{PO_NUM}) <include refid="common.sql.stringMerge"/> '%'
                    </if>
                    <if test="SUBJECT != '' and SUBJECT != null">
                        AND UPPER(POHD.SUBJECT) LIKE '%' <include refid="common.sql.stringMerge"/> UPPER(#{SUBJECT}) <include refid="common.sql.stringMerge"/> '%'
                    </if>
                    <if test="DELIVERY_TYPE != '' and DELIVERY_TYPE != null">
                        AND POHD.DELIVERY_TYPE = #{DELIVERY_TYPE}
                    </if>
                    <if test="VENDOR_RECEIPT_STATUS != '' and VENDOR_RECEIPT_STATUS != null">
                        AND POHD.VENDOR_RECEIPT_STATUS = #{VENDOR_RECEIPT_STATUS}
                    </if>
                    GROUP BY PODT.GATE_CD, POHD.BUYER_CD, POHD.PO_NUM, PODT.PR_BUYER_CD, PODT.PR_DEPT_CD
                ) PODT
            ON (PODT.GATE_CD = POHD.GATE_CD
            AND PODT.BUYER_CD = POHD.BUYER_CD
            AND PODT.PO_NUM = POHD.PO_NUM)
        WHERE POHD.GATE_CD = #{ses.gateCd}
        AND POHD.DEL_FLAG = '0'
        AND POHD.VENDOR_CD = #{ses.companyCd}
        AND POHD.VENDOR_RECEIPT_STATUS IS NOT NULL
        AND POHD.FORCE_CLOSE_FLAG = '0'
        <if test="FROM_PO_DATE != '' and FROM_PO_DATE != null">
            AND POHD.PO_CREATE_DATE <![CDATA[>=]]> <include refid="common.sql.toDateFrom"/>(#{FROM_PO_DATE})
        </if>
        <if test="TO_PO_DATE != '' and TO_PO_DATE != null">
            AND POHD.PO_CREATE_DATE <![CDATA[<=]]> <include refid="common.sql.toDateTo"/>(#{TO_PO_DATE})
        </if>
        <if test="PO_NUM != '' and PO_NUM != null">
            AND UPPER(POHD.PO_NUM) LIKE '%' <include refid="common.sql.stringMerge"/> UPPER(#{PO_NUM}) <include refid="common.sql.stringMerge"/> '%'
        </if>
        <if test="SUBJECT != '' and SUBJECT != null">
            AND UPPER(POHD.SUBJECT) LIKE '%' <include refid="common.sql.stringMerge"/> UPPER(#{SUBJECT}) <include refid="common.sql.stringMerge"/> '%'
        </if>
        <if test="DELIVERY_TYPE != '' and DELIVERY_TYPE != null">
            AND POHD.DELIVERY_TYPE = #{DELIVERY_TYPE}
        </if>
        <if test="VENDOR_RECEIPT_STATUS != '' and VENDOR_RECEIPT_STATUS != null">
            AND POHD.VENDOR_RECEIPT_STATUS = #{VENDOR_RECEIPT_STATUS}
        </if>
        AND POHD.PROGRESS_CD != '5100'
        ORDER BY POHD.PO_NUM DESC
    </select>

    <update id="spor0010_doUpdatePOHD" parameterType="hashMap">
        UPDATE STOCPOHD SET
            VENDOR_RECEIPT_STATUS = #{VENDOR_RECEIPT_STATUS}
            , VENDOR_RECEIPT_DATE = SYSDATE
            , VENDOR_RECEIPT_USER_ID = #{ses.userId}
            , VENDOR_REJECT_RMK = #{VENDOR_REJECT_RMK}
            , MOD_USER_ID = #{ses.userId}
            , MOD_DATE = SYSDATE
        WHERE GATE_CD = #{ses.gateCd}
        AND BUYER_CD = #{BUYER_CD}
        AND PO_NUM = #{PO_NUM}
    </update>

    <update id="spor0010_doUpdatePODT" parameterType="hashMap">
        UPDATE STOCPODT SET
            PROGRESS_CD = #{PROGRESS_CD}
            , MOD_USER_ID = #{ses.userId}
            , MOD_DATE = SYSDATE
        WHERE GATE_CD = #{ses.gateCd}
        AND BUYER_CD = #{BUYER_CD}
        AND PO_NUM = #{PO_NUM}
    </update>

    <select id="spor0011_doSearchPOHD" parameterType="hashMap" resultType="hashMap">
        SELECT DISTINCT
            POHD.PO_NUM
            , POHD.SUBJECT
            , POHD.VENDOR_CD
            , <include refid="common.sql.dbo"/>GETCOMPANYNAME(POHD.GATE_CD, POHD.VENDOR_CD, #{ses.langCd}) AS VENDOR_NM
            , <include refid="common.sql.toChar"/>(POHD.PO_CREATE_DATE, 'YYYY-MM-DD') AS PO_CREATE_DATE
            , POHD.CUR
            , POHD.PO_AMT
            , POHD.VAT_TYPE
            , POHD.DELIVERY_TYPE
            , POHD.PAY_TYPE
            , POHD.CTRL_CD
            , POHD.CTRL_USER_ID
            , <include refid="common.sql.dbo"/>GETUSERNAME(POHD.GATE_CD, POHD.CTRL_USER_ID, #{ses.langCd}) AS CTRL_USER_NM
            , POHD.BUYER_CD
            , <include refid="common.sql.dbo"/>GETCOMPANYNAME(PODT.GATE_CD, PODT.BUYER_CD, #{ses.langCd}) AS BUYER_NM
            , POHD.DEPT_CD
            , <include refid="common.sql.dbo"/>GETDEPTNAME(POHD.GATE_CD, POHD.BUYER_CD, POHD.DEPT_CD, #{ses.langCd}) AS DEPT_NM
            , <include refid="common.sql.dbo"/>GETBUYERDEPTNAME(POHD.GATE_CD, POHD.BUYER_CD, POHD.DEPT_CD, #{ses.langCd}) AS BUYER_DEPT_NM
            , POHD.PO_CREATE_TYPE
            , POHD.RMK_TEXT_NUM
            , POHD.ATT_FILE_NUM
            , POHD.INSPECT_USER_ID
            , <include refid="common.sql.dbo"/>GETUSERNAME(POHD.GATE_CD, POHD.INSPECT_USER_ID, #{ses.langCd}) AS INSPECT_USER_NM
            , POHD.APP_DOC_NUM
            , POHD.APP_DOC_CNT
            , POHD.PROGRESS_CD
            , POHD.SIGN_STATUS
        FROM STOCPOHD POHD
        LEFT JOIN STOCPODT PODT
            ON (PODT.GATE_CD = POHD.GATE_CD
            AND PODT.BUYER_CD = POHD.BUYER_CD
            AND PODT.PO_NUM = POHD.PO_NUM
            AND PODT.DEL_FLAG = '0')
        WHERE POHD.GATE_CD = #{ses.gateCd}
        <choose>
            <when test="BUYER_CD != null and BUYER_CD != ''">
                AND POHD.BUYER_CD = #{BUYER_CD}
			</when>
            <otherwise>
          		AND POHD.BUYER_CD = #{ses.companyCd}
			</otherwise>
        </choose>

        <if test="PO_NUM != null and PO_NUM != ''">
          AND POHD.PO_NUM = #{PO_NUM}
        </if>
        <if test="APP_DOC_NUM != null and APP_DOC_NUM != ''">
          AND POHD.APP_DOC_NUM = #{APP_DOC_NUM}
        </if>
          AND POHD.DEL_FLAG = '0'
    </select>

    <select id="spor0011_doSearchPODT" parameterType="hashMap" resultType="hashMap">
        SELECT distinct POHD.PO_NUM --선정품의나 기타 화면에서 품목복사를 하여, 구매의뢰 품목 개수보다 많아질 수 있음, CNDT.PR_SQ = PODT.PR_SQ 만으로는 중복데이터발생
            , PODT.PO_SQ
            , PODT.PR_NUM
            , PODT.PR_SQ
            , PODT.ITEM_CD
            , PODT.ITEM_DESC
            , PODT.ITEM_SPEC
            , PODT.MAKER_CD
            , <include refid="common.sql.dbo"/>GETMKBRNAME(PODT.GATE_CD, PODT.BUYER_CD, 'MK', PODT.MAKER_CD) AS MAKER_NM
            , PODT.MAKER_PART_NO
            , PODT.ORIGIN_CD
            , PODT.PO_QT
            , PODT.UNIT_CD
            , PODT.UNIT_PRC
            , PODT.ITEM_AMT
            , POHD.CTRL_CD
            , PODT.PO_WT_NUM
            , PODT.PURCHASE_TYPE
            , PODT.PR_BUYER_CD AS BUYER_CD
            , <include refid="common.sql.dbo"/>GETCOMPANYNAME(PODT.GATE_CD, PODT.PR_BUYER_CD, #{ses.langCd}) AS BUYER_NM
            , PODT.PR_DEPT_CD AS DEPT_CD
            , <include refid="common.sql.dbo"/>GETDEPTNAME(PODT.GATE_CD, PODT.PR_BUYER_CD, PODT.PR_DEPT_CD, #{ses.langCd}) AS DEPT_NM
            , <include refid="common.sql.dbo"/>GETBUYERDEPTNAME(PODT.GATE_CD, PODT.PR_BUYER_CD, PODT.PR_DEPT_CD, #{ses.langCd}) AS BUYER_DEPT_NM
            , <include refid="common.sql.toChar"/>(PODT.DUE_DATE, 'YYYY-MM-DD') AS DUE_DATE
            , <include refid="common.sql.clobToChar"/>(PODT.RMK) AS RMK
            , PODT.EXEC_NUM
            , CNDT.RFX_NUM
            , MTGL.MAJOR_ITEM_FLAG
            , PODT.PB_BUYER_CD
        FROM STOCPOHD POHD
        LEFT JOIN STOCPODT PODT
            ON (PODT.GATE_CD = POHD.GATE_CD
            AND PODT.BUYER_CD = POHD.BUYER_CD
            AND PODT.PO_NUM = POHD.PO_NUM
            AND PODT.DEL_FLAG = '0')
        LEFT JOIN STOCMTGL MTGL
            ON (MTGL.GATE_CD = PODT.GATE_CD
            AND MTGL.ITEM_CD = PODT.ITEM_CD
            AND MTGL.BUYER_CD = PODT.BUYER_CD)
        LEFT JOIN STOCCNDT CNDT
            ON (CNDT.GATE_CD = PODT.GATE_CD
            AND CNDT.PB_BUYER_CD = PODT.PB_BUYER_CD
            AND CNDT.PR_NUM = PODT.PR_NUM
            AND CNDT.PR_SQ = PODT.PR_SQ  
            AND CNDT.DEL_FLAG = '0')
        WHERE POHD.GATE_CD = #{ses.gateCd}
        AND POHD.DEL_FLAG = '0'
        AND POHD.BUYER_CD = #{BUYER_CD}
        AND POHD.PO_NUM = #{PO_NUM}
    </select>

    <select id="spor0011_doSearchPOPY" parameterType="hashMap" resultType="hashMap">
        SELECT POPY.PO_NUM
            , POPY.PAY_CNT
            , MAX(POPY.PAY_CNT_TYPE) AS PAY_CNT_TYPE
            , MAX(POPY.PAY_CNT_NM) AS PAY_CNT_NM
            , MAX(POPY.PAY_PERCENT) AS PAY_PERCENT
            , MAX(POPY.PAY_AMT) AS PAY_AMT
            , MAX(POPY.PAY_METHOD_TYPE) AS PAY_METHOD_TYPE
            , MAX(POPY.PAY_METHOD_NM) AS PAY_METHOD_NM
            , <include refid="common.sql.toChar"/>(MAX(POPY.PAY_DUE_DATE), 'YYYY-MM-DD') AS PAY_DUE_DATE
            , LISTAGG(POPC.PY_BUYER_DEPT_NM,',') WITHIN GROUP(ORDER BY POPC.PY_BUYER_DEPT_NM) AS PY_BUYER_NM
            , MAX(POPY.PAY_AMT) AS PY_PAY_AMT
        FROM STOCPOPY POPY
        LEFT JOIN ( SELECT GATE_CD
                        , BUYER_CD
                        , PO_NUM
                        , PAY_CNT
                        , PY_BUYER_CD
                        , <include refid="common.sql.dbo"/>GETCOMPANYNAME(GATE_CD, PY_BUYER_CD, 'KO') AS PY_BUYER_NM
                        , PY_DEPT_CD
                        , <include refid="common.sql.dbo"/>GETDEPTNAME(GATE_CD, PY_BUYER_CD, PY_DEPT_CD, 'KO') AS PY_DEPT_NM
                        , <include refid="common.sql.dbo"/>GETBUYERDEPTNAME(GATE_CD, PY_BUYER_CD, PY_DEPT_CD, #{ses.langCd}) AS PY_BUYER_DEPT_NM
                    FROM STOCPOPC
                    WHERE GATE_CD = #{ses.gateCd}
                    AND DEL_FLAG = '0'
                    AND BUYER_CD = #{BUYER_CD}
                    AND PO_NUM = #{PO_NUM}
                    ) POPC
            ON (POPC.GATE_CD = POPY.GATE_CD
            AND POPC.BUYER_CD = POPY.BUYER_CD
            AND POPC.PO_NUM = POPY.PO_NUM
            AND POPC.PAY_CNT = POPY.PAY_CNT)
        WHERE POPY.GATE_CD = #{ses.gateCd}
        AND POPY.DEL_FLAG = '0'
        AND POPY.BUYER_CD = #{BUYER_CD}
        AND POPY.PO_NUM = #{PO_NUM}
        GROUP BY POPY.PO_NUM, POPY.PAY_CNT
    </select>

    <select id="spor0011_doSearchPOPC" parameterType="hashMap" resultType="hashMap">
        SELECT POPY.PO_NUM
            , POPY.PAY_CNT
            , POPY.PAY_CNT_TYPE
            , POPY.PAY_CNT_NM
            , POPC.PY_BUYER_CD
            , POPC.PY_DEPT_CD
            , <include refid="common.sql.dbo"/>GETBUYERDEPTNAME(POPC.GATE_CD, POPC.PY_BUYER_CD, POPC.PY_DEPT_CD, #{ses.langCd}) AS PY_BUYER_DEPT_NM
            , POPC.PAY_AMT AS PAY_AMT
            , POPC.RMK
        FROM STOCPOPY POPY
        LEFT JOIN STOCPOPC POPC
            ON (POPC.GATE_CD = POPY.GATE_CD
            AND POPC.BUYER_CD = POPY.BUYER_CD
            AND POPC.PO_NUM = POPY.PO_NUM
            AND POPC.PAY_CNT = POPY.PAY_CNT)
        WHERE POPY.GATE_CD = #{ses.gateCd}
        AND POPY.DEL_FLAG = '0'
        AND POPY.BUYER_CD = #{BUYER_CD}
        AND POPY.PO_NUM = #{PO_NUM}
        AND POPY.PAY_CNT = #{PAY_CNT}
    </select>
	
	<!-- 발주관리 > 발주관리 > 발주진행현황 (SPOR0020) -->
    <select id="spor0020_doSearch" parameterType="hashMap" resultType="hashMap">
        SELECT
        	  POHD.GATE_CD
            , POHD.BUYER_CD
            , PODT.PR_BUYER_CD
            , <include refid="common.sql.dbo"/>GETCOMPANYNAME(PODT.GATE_CD, PODT.PR_BUYER_CD, #{ses.langCd}) AS PR_BUYER_NM
            , PODT.PR_DEPT_CD
            , <include refid="common.sql.dbo"/>GETDEPTNAME(PODT.GATE_CD, PODT.PR_BUYER_CD, PODT.PR_DEPT_CD, #{ses.langCd}) AS PR_DEPT_NM
            , <include refid="common.sql.dbo"/>GETBUYERDEPTNAME(PODT.GATE_CD, PODT.PR_BUYER_CD, PODT.PR_DEPT_CD, #{ses.langCd}) AS PR_BUYER_DEPT_NM
            , <include refid="common.sql.dbo"/>GETBUYERDEPTNAME(POHD.GATE_CD, POHD.BUYER_CD, POHD.DEPT_CD, #{ses.langCd}) AS BUYER_DEPT_NM
            , PODT.PROGRESS_CD
            , POHD.VENDOR_RECEIPT_STATUS
            , POHD.PO_CREATE_DATE
            , POHD.PO_CREATE_TYPE
            , POHD.PO_NUM
            , PODT.PO_SQ
            , POHD.ATT_FILE_NUM
            , CASE WHEN <include refid="common.sql.dbo"/>GETFILECOUNT(POHD.GATE_CD, POHD.ATT_FILE_NUM) = 0
                   THEN NULL
                   ELSE <include refid="common.sql.dbo"/>GETFILECOUNT(POHD.GATE_CD, POHD.ATT_FILE_NUM)
              END AS ATT_FILE_NUM_CNT
            , POHD.SUBJECT
            , POHD.PO_AMT
            , POHD.VENDOR_RECEIPT_DATE
            , POHD.VENDOR_RECEIPT_USER_ID
            , <include refid="common.sql.dbo"/>GETUSERNAME(POHD.GATE_CD, POHD.VENDOR_RECEIPT_USER_ID, #{ses.langCd}) AS VENDOR_RECEIPT_USER_NM
            , <include refid="common.sql.dbo"/>GETUSERINFO(POHD.GATE_CD, POHD.VENDOR_RECEIPT_USER_ID, 'USER_TYPE') AS VENDOR_RECEIPT_USER_TYPE
            , POHD.VENDOR_REJECT_RMK
            , POHD.INSPECT_USER_ID
            , <include refid="common.sql.dbo"/>GETUSERNAME(POHD.GATE_CD, POHD.INSPECT_USER_ID, #{ses.langCd}) AS INSPECT_USER_NM
            , <include refid="common.sql.dbo"/>GETUSERINFO(POHD.GATE_CD, POHD.INSPECT_USER_ID, 'USER_TYPE') AS INSPECT_USER_TYPE
            , POHD.CTRL_USER_ID
            , <include refid="common.sql.dbo"/>GETUSERNAME(POHD.GATE_CD, POHD.CTRL_USER_ID, #{ses.langCd}) AS CTRL_USER_NM
            , <include refid="common.sql.dbo"/>GETUSERINFO(POHD.GATE_CD, POHD.CTRL_USER_ID, 'USER_TYPE') AS CTRL_USER_TYPE
            , POHD.DELIVERY_TYPE
            , PODT.PURCHASE_TYPE
            , POHD.FORCE_CLOSE_FLAG
            , POHD.FORCE_CLOSE_DATE
            , PODT.ITEM_CD
            , PODT.ITEM_DESC
            , PODT.ITEM_SPEC
            , PODT.PO_QT
            , PODT.UNIT_CD
            , POHD.CUR
            , PODT.UNIT_PRC
            , PODT.ITEM_AMT
            , POHD.VAT_TYPE
            , PODT.DUE_DATE
            , PODT.INV_QT	-- 검수요청수량
            , IVDT.INV_AMT	-- 검수요청금액
            ,(PODT.PO_QT - PODT.INV_QT) AS UN_INV_QT
            , CASE WHEN POHD.DELIVERY_TYPE = 'DI' THEN PODT.GR_QT ELSE IVDT.E_INV_QT END AS GR_QT
            , CASE WHEN POHD.DELIVERY_TYPE = 'DI' THEN PODT.GR_QT * PODT.UNIT_PRC ELSE IVDT.E_INV_AMT END AS GR_AMT
            ,(SELECT MIN(REG_DATE) FROM STOCGRDT
               WHERE GATE_CD  = PODT.GATE_CD
                 AND BUYER_CD = PODT.BUYER_CD
                 AND PO_NUM   = PODT.PO_NUM
                 AND PO_SQ    = PODT.PO_SQ
                 AND DEL_FLAG = '0') AS GR_REG_DATE 	-- 최초입고일자(2021.01.29 변경)
        FROM STOCPOHD POHD
        JOIN STOCPODT PODT
            ON (PODT.GATE_CD  = POHD.GATE_CD
            AND PODT.BUYER_CD = POHD.BUYER_CD
            AND PODT.PO_NUM   = POHD.PO_NUM
            AND PODT.DEL_FLAG = '0')
        LEFT JOIN (SELECT GATE_CD
	                    , BUYER_CD
	                    , PO_NUM
	                    , PO_SQ
	                    , SUM(INV_QT)    AS INV_QT
	                    , SUM(INV_AMT)   AS INV_AMT
	                    , SUM(E_INV_QT)  AS E_INV_QT
	                    , SUM(E_INV_AMT) AS E_INV_AMT
	                 FROM (SELECT IVDT.GATE_CD
	                            , IVDT.BUYER_CD
	                            , IVDT.PO_NUM
	                            , IVDT.PO_SQ
	                            , SUM(IVDT.INV_QT) AS INV_QT
	                            , SUM(IVDT.ITEM_AMT) AS INV_AMT
	                            , IVHD.DELIVERY_TYPE
	                            ,(CASE WHEN IVHD.PROGRESS_CD = (CASE WHEN IVHD.DELIVERY_TYPE = 'PI' THEN '700' ELSE '300' END)
	                            			THEN SUM(IVDT.INV_QT) 
	                            	   ELSE 0 
	                              END) AS E_INV_QT
	                            ,(CASE WHEN IVHD.PROGRESS_CD = (CASE WHEN IVHD.DELIVERY_TYPE = 'PI' THEN '700' ELSE '300' END) 
	                            			THEN SUM(IVDT.ITEM_AMT) 
	                            	   ELSE 0 
	                               END) AS E_INV_AMT
	                        FROM STOCIVDT IVDT
	                        JOIN STOCIVHD IVHD
	                            ON (IVHD.GATE_CD   = IVDT.GATE_CD
	                            AND IVHD.BUYER_CD  = IVDT.BUYER_CD
	                            AND IVHD.INV_NUM   = IVDT.INV_NUM
	                            AND IVHD.VENDOR_CD = #{ses.companyCd}
	                            AND IVHD.DEL_FLAG  = '0')
	                        WHERE IVDT.GATE_CD  = #{ses.gateCd}
	                          AND IVDT.DEL_FLAG = '0'
	                        GROUP BY IVDT.GATE_CD, IVDT.BUYER_CD
	                        	   , IVHD.DELIVERY_TYPE, IVDT.PO_NUM
	                        	   , IVDT.PO_SQ, IVHD.PROGRESS_CD
	                     ) IVDT
					WHERE 1 = 1
	                GROUP BY IVDT.GATE_CD, IVDT.BUYER_CD
	                	   , IVDT.DELIVERY_TYPE
	                	   , IVDT.PO_NUM, IVDT.PO_SQ
                ) IVDT
            ON (IVDT.GATE_CD  = PODT.GATE_CD
            AND IVDT.BUYER_CD = PODT.BUYER_CD
            AND IVDT.PO_NUM   = PODT.PO_NUM
            AND IVDT.PO_SQ    = PODT.PO_SQ)
        WHERE POHD.GATE_CD   = #{ses.gateCd}
          AND POHD.DEL_FLAG  = '0'
          AND POHD.VENDOR_CD = #{ses.companyCd}
          AND POHD.PROGRESS_CD != '5100'
          AND POHD.VENDOR_RECEIPT_STATUS IN ('0', '200')
        
        <if test="FROM_PO_DATE != '' and FROM_PO_DATE != null">
            AND POHD.PO_CREATE_DATE <![CDATA[>=]]> <include refid="common.sql.toDateFrom"/>(#{FROM_PO_DATE})
        </if>
        <if test="TO_PO_DATE != '' and TO_PO_DATE != null">
            AND POHD.PO_CREATE_DATE <![CDATA[<=]]> <include refid="common.sql.toDateTo"/>(#{TO_PO_DATE})
        </if>
        <if test="PO_NUM != '' and PO_NUM != null">
            AND UPPER(POHD.PO_NUM) LIKE '%' <include refid="common.sql.stringMerge"/> UPPER(#{PO_NUM}) <include refid="common.sql.stringMerge"/> '%'
        </if>
        <if test="PURCHASE_TYPE != '' and PURCHASE_TYPE != null">
            AND PODT.PURCHASE_TYPE = #{PURCHASE_TYPE}
        </if>
        <if test="ITEM_CD != '' and ITEM_CD != null">
            AND UPPER(PODT.ITEM_CD) LIKE '%' <include refid="common.sql.stringMerge"/> UPPER(#{ITEM_CD}) <include refid="common.sql.stringMerge"/> '%'
        </if>
        <if test="ITEM_DESC != '' and ITEM_DESC != null">
            AND UPPER(PODT.ITEM_DESC) LIKE '%' <include refid="common.sql.stringMerge"/> UPPER(#{ITEM_DESC}) <include refid="common.sql.stringMerge"/> '%'
        </if>
        <if test="PROGRESS_CD != '' and PROGRESS_CD != null">
            AND PODT.PROGRESS_CD = #{PROGRESS_CD}
        </if>
        <if test="SUBJECT != '' and SUBJECT != null">
            AND UPPER(POHD.SUBJECT) LIKE '%' <include refid="common.sql.stringMerge"/> UPPER(#{SUBJECT}) <include refid="common.sql.stringMerge"/> '%'
        </if>
        
        ORDER BY PODT.PR_BUYER_CD, POHD.PO_NUM DESC, PODT.PO_SQ
    </select>
</mapper>