@charset "utf-8";
 div h3.itemTitle {
    font-weight: bold;
    font-size: 18px;
}
div h3 span.itemTitleSub {
    font-size: 12px;
}
.itemTop {
    border-top: 2px solid #000 !important;
}

table > tbody > tr > th.itemTH {
    background: rgb(247, 247, 247);
    padding: 10px 20px;
    border-bottom: 1px solid rgb(229, 229, 229) !important;
    font-size: 14px;
}

table > tbody > tr > td.itemTD {
    padding: 10px 20px;
    border-bottom: 1px solid rgb(229, 229, 229) !important;
    font-size: 14px;
}