<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st_ones.nhepro.CCUR.CCUR0040_Mapper">

    <select id="ccur0040_doSearchEvalItemMgt" parameterType="hashMap" resultType="hashMap">

        SELECT
        	 EVIM.EV_ITEM_NUM
	        ,EVIM.EV_ITEM_KIND_CD
	        ,EVIM.EV_ITEM_TYPE_CD
	        ,<include refid="common.sql.dbo"/>GETCOMCODE(EVIM.GATE_CD,
	        	CASE EVIM.EV_ITEM_KIND_CD WHEN 'E' THEN 'M114' ELSE 'M113' END
	        	,EVIM.EV_ITEM_TYPE_CD, '0', #{ses.langCd}) AS EV_ITEM_TYPE_NM
	        ,EVIM.EV_ITEM_METHOD_CD
	        ,EVIM.SCALE_TYPE_CD
	        ,EVIM.EV_ITEM_SUBJECT
	        ,EVIM.EV_ITEM_CONTENTS
	        ,(SELECT COUNT(GATE_CD) FROM STOCEVID WHERE GATE_CD = EVIM.GATE_CD AND BUYER_CD = EVIM.BUYER_CD AND EV_ITEM_NUM = EVIM.EV_ITEM_NUM AND DEL_FLAG ='0' ) AS SCALE_COUNT
	        ,<include refid="common.sql.toChar"/>(EVIM.MOD_DATE, 'YYYY-MM-DD HH24:MI') AS MOD_DATE
	        --,EVIM.MOD_USER_ID
	        , <include refid="common.sql.dbo"/>GETUSERNAME(#{ses.gateCd}, EVIM.MOD_USER_ID,#{ses.langCd}) AS MOD_USER_NM
	        ,GATE_CD
	        ,QTY_ITEM_CD
		FROM STOCEVIM EVIM
		WHERE EVIM.GATE_CD = #{ses.gateCd}
		    AND EVIM.BUYER_CD = #{ses.companyCd}
			AND EVIM.DEL_FLAG = '0'
			AND EVIM.CREATE_TYPE_CD = 'S'
			--AND EVIM.EV_ITEM_DIV_CD IN ('SITE', 'EXEC')
		<if test="EV_ITEM_KIND_CD != '' and EV_ITEM_KIND_CD != null">
			AND EVIM.EV_ITEM_KIND_CD   = #{EV_ITEM_KIND_CD}
		</if>
		<if test="EV_ITEM_TYPE_CD != '' and EV_ITEM_TYPE_CD != null">
			AND EVIM.EV_ITEM_TYPE_CD   = #{EV_ITEM_TYPE_CD}
		</if>
		<if test="EV_ITEM_METHOD_CD != '' and EV_ITEM_METHOD_CD != null">
			AND EVIM.EV_ITEM_METHOD_CD = #{EV_ITEM_METHOD_CD}
		</if>
		<if test="EV_ITEM_SUBJECT != '' and EV_ITEM_SUBJECT != null">
			AND UPPER(EVIM.EV_ITEM_SUBJECT) LIKE UPPER('%' <include refid="common.sql.stringMerge"/> #{EV_ITEM_SUBJECT} <include refid="common.sql.stringMerge"/> '%')
		</if>
		<if test="EV_ITEM_CONTENTS != '' and EV_ITEM_CONTENTS != null">
			AND UPPER(EVIM.EV_ITEM_CONTENTS) LIKE UPPER('%' <include refid="common.sql.stringMerge"/> #{EV_ITEM_CONTENTS} <include refid="common.sql.stringMerge"/> '%')
		</if>
		ORDER BY EVIM.EV_ITEM_KIND_CD, EVIM.EV_ITEM_TYPE_CD, EVIM.EV_ITEM_METHOD_CD, EVIM.SCALE_TYPE_CD
    </select>

    <select id="ccur0040_doSearchEvalItemMgtDetail" parameterType="hashMap" resultType="hashMap">

        SELECT
        	 EVID.EV_ID_ORDER
			,EVID.EV_ID_CONTENTS
			,EVID.EV_ID_SCORE
	        ,EVID.EV_ID_SQ
	        ,EVID.EV_ITEM_NUM
	        ,EVID.GATE_CD
	        ,'U' AS INSERT_FLAG
		FROM STOCEVID EVID
		WHERE GATE_CD = #{ses.gateCd}
		    AND EVID.BUYER_CD = #{ses.companyCd}
			AND EVID.DEL_FLAG = '0'
			AND EVID.EV_ITEM_NUM = #{EV_ITEM_NUM}
	   ORDER BY EVID.EV_ID_ORDER
    </select>


    <select id="ccur0040_doSearchEvalItemMgtDetail2" parameterType="hashMap" resultType="hashMap">

        SELECT
        	 EVID.EV_ID_ORDER
			,EVID.EV_ID_CONTENTS
			,EVID.FROM_VALUE
			,EVID.FROM_CONDITION_CD
			,EVID.TO_VALUE
			,EVID.TO_CONDITION_CD
			,EVID.EV_ID_SCORE
	        ,EVID.EV_ID_SQ
	        ,EVID.EV_ITEM_NUM
	        ,EVID.GATE_CD
	        ,'U' AS INSERT_FLAG
		FROM STOCEVID EVID
		WHERE GATE_CD = #{ses.gateCd}
			AND EVID.BUYER_CD = #{ses.companyCd}
			AND DEL_FLAG = '0'
			AND EVID.EV_ITEM_NUM = #{EV_ITEM_NUM}
	   ORDER BY EVID.EV_ID_ORDER
    </select>



    <insert id="ccur0040_doInsertEvalItemMgtMaster" parameterType="hashMap">
        INSERT INTO STOCEVIM (
	         GATE_CD
	        ,BUYER_CD
	        ,EV_ITEM_NUM
	        ,REG_DATE
	        ,REG_USER_ID
	        ,MOD_DATE
	        ,MOD_USER_ID
	        ,DEL_FLAG

	        ,EV_ITEM_DIV_CD
			,SI_RA_TYPE
			,AXIS_CD
			,EV_ITEM_TYPE_CD
			,EV_ITEM_SUBJECT
			,EV_ITEM_CONTENTS
			,EV_ITEM_KIND_CD
			,EV_ITEM_METHOD_CD
			,SCALE_TYPE_CD
            ,QTY_ITEM_CD
            ,CREATE_TYPE_CD
        ) VALUES (
            #{ses.gateCd}
            ,#{ses.companyCd}
            ,#{EV_ITEM_NUM}
            ,SYSDATE
            ,#{ses.userId}
            ,SYSDATE
            ,#{ses.userId}
            ,'0'
			,#{EV_ITEM_KIND_CD_RT}
			,NULL
			,NULL
			,#{EV_ITEM_TYPE_CD_RT}
			,#{EV_ITEM_SUBJECT_RT}
			,#{EV_ITEM_CONTENTS_RT}
			,#{EV_ITEM_KIND_CD_RT}
			,#{EV_ITEM_METHOD_CD_RT}
			,#{SCALE_TYPE_CD_RT}
			,#{QTY_ITEM_CD}
			,'S'
        )
    </insert>

    <insert id="ccur0040_doInsertEvalItemMgtDetail" parameterType="hashMap">
    	<selectKey keyProperty="idSeq" resultType="int" order="BEFORE">
            SELECT <include refid="common.sql.nvl"/>(MAX(EV_ID_SQ), 0) + 1 AS EV_ID_SQ FROM STOCEVID
            WHERE EV_ITEM_NUM = #{EV_ITEM_NUM}
              AND GATE_CD = #{ses.gateCd}
              AND BUYER_CD = #{ses.companyCd}
        </selectKey>
        INSERT INTO STOCEVID (
	         GATE_CD
	        ,BUYER_CD
	        ,EV_ITEM_NUM
	    	,EV_ID_SQ
	        ,REG_DATE
	        ,REG_USER_ID
	        ,MOD_DATE
	        ,MOD_USER_ID
	        ,DEL_FLAG
	        ,EV_ID_ORDER
			,EV_ID_CONTENTS
			,EV_ID_SCORE
			,PASS_FAIL_CD
			,EV_ID_METHOD
			,FROM_VALUE
			,FROM_CONDITION_CD
			,TO_VALUE
			,TO_CONDITION_CD

	   	)VALUES(
	   		 #{ses.gateCd}
            ,#{ses.companyCd}
            ,#{EV_ITEM_NUM}
            ,#{idSeq}
            ,SYSDATE
            ,#{ses.userId}
            ,SYSDATE
            ,#{ses.userId}
            ,'0'
	        ,#{EV_ID_ORDER}
			,#{EV_ID_CONTENTS}
			,#{EV_ID_SCORE}
			,#{PASS_FAIL_CD}
			,#{EV_ID_METHOD}
			,#{FROM_VALUE}
			,#{FROM_CONDITION_CD}
			,#{TO_VALUE}
			,#{TO_CONDITION_CD}
	     )
	</insert>

	<update id="ccur0040_doUpdateEvalItemMgtMaster" parameterType="hashmap">
        UPDATE STOCEVIM
        SET
			 MOD_DATE = SYSDATE
            ,MOD_USER_ID = #{ses.userId}
	        ,EV_ITEM_DIV_CD    = #{EV_ITEM_KIND_CD_RT}
			,SI_RA_TYPE          = NULL
			,AXIS_CD           = NULL
			,EV_ITEM_TYPE_CD   = #{EV_ITEM_TYPE_CD_RT}
			,EV_ITEM_SUBJECT     = #{EV_ITEM_SUBJECT_RT}
			,EV_ITEM_CONTENTS    = #{EV_ITEM_CONTENTS_RT}
			,EV_ITEM_KIND_CD   = #{EV_ITEM_KIND_CD_RT}
			,EV_ITEM_METHOD_CD = #{EV_ITEM_METHOD_CD_RT}
			,SCALE_TYPE_CD     = #{SCALE_TYPE_CD_RT}
			,QTY_ITEM_CD = #{QTY_ITEM_CD}
        WHERE GATE_CD = #{ses.gateCd}
          AND BUYER_CD = #{ses.companyCd}
          AND EV_ITEM_NUM = #{EV_ITEM_NUM}

    </update>

	<update id="ccur0040_doUpdateEvalItemMgtDetail" parameterType="hashmap">
        UPDATE STOCEVID
        SET  EV_ID_ORDER = #{EV_ID_ORDER}
			,EV_ID_CONTENTS = #{EV_ID_CONTENTS}
			,EV_ID_SCORE = #{EV_ID_SCORE}
			,PASS_FAIL_CD = #{PASS_FAIL_CD}
			,EV_ID_METHOD = #{EV_ID_METHOD}
			,FROM_VALUE = #{FROM_VALUE}
			,FROM_CONDITION_CD = #{FROM_CONDITION_CD}
			,TO_VALUE = #{TO_VALUE}
			,TO_CONDITION_CD = #{TO_CONDITION_CD}

            , MOD_DATE = SYSDATE
            , MOD_USER_ID = #{ses.userId}
        WHERE GATE_CD = #{ses.gateCd}
          AND BUYER_CD = #{ses.companyCd}
          AND EV_ITEM_NUM = #{EV_ITEM_NUM}
          AND EV_ID_SQ = #{EV_ID_SQ}
    </update>

    <update id="ccur0040_doDeleteEvalItemMgtMaster" parameterType="hashmap">
        UPDATE STOCEVIM
        SET    DEL_FLAG = '1'
             , MOD_DATE = SYSDATE
             , MOD_USER_ID = #{ses.userId}
        WHERE GATE_CD = #{ses.gateCd}
          AND BUYER_CD = #{ses.companyCd}
          AND EV_ITEM_NUM = #{EV_ITEM_NUM}
    </update>

    <update id="ccur0040_doDeleteEvalItemMgtDetail" parameterType="hashmap">
        UPDATE STOCEVID
        SET    DEL_FLAG = '1'
             , MOD_DATE = SYSDATE
             , MOD_USER_ID = #{ses.userId}
        WHERE GATE_CD = #{ses.gateCd}
          AND BUYER_CD = #{ses.companyCd}
          AND EV_ITEM_NUM = #{EV_ITEM_NUM}
          AND EV_ID_SQ = #{EV_ID_SQ}
    </update>

    <update id="ccur0040_doDeleteEvalItemMgtAllDetail" parameterType="hashmap">
        UPDATE STOCEVID
        SET    DEL_FLAG = '1'
             , MOD_DATE = SYSDATE
             , MOD_USER_ID = #{ses.userId}
        WHERE GATE_CD = #{ses.gateCd}
          AND BUYER_CD = #{ses.companyCd}
          AND EV_ITEM_NUM = #{EV_ITEM_NUM}
    </update>

    <select id="ccur0040_doCheckEvalItemMgtDetail" parameterType="hashMap" resultType="int">
    	SELECT COUNT(*) FROM STOCEVID
    	WHERE GATE_CD = #{ses.gateCd}
          AND BUYER_CD = #{ses.companyCd}
          AND EV_ITEM_NUM = #{EV_ITEM_NUM}
          AND DEL_FLAG = '0'
    </select>

    <select id="ccur0040_doCheckInTemplateItemWeight" parameterType="hashMap" resultType="int">
    	SELECT COUNT(*) FROM STOCEVTD
    	WHERE GATE_CD = #{ses.gateCd}
          AND BUYER_CD = #{ses.companyCd}
          AND EV_ITEM_NUM = #{EV_ITEM_NUM}
          AND DEL_FLAG = '0'
    </select>

</mapper>
