<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st_ones.eversrm.system.batch.BatchLogMapper">

	<select id="getBatchManagerSms" resultType="hashMap">

        SELECT
        	  DD.CODE      as RECV_TEL_NUM
        	 ,DD.CODE_DESC as RECV_USER_NM
		  FROM STOCCODD DD
		 WHERE DD.GATE_CD   = #{ses.gateCd}
		   AND DD.CODE_TYPE = 'M170'
		   AND LANG_CD      = #{ses.langCd}
		   AND USE_FLAG     = '1'
		   AND DEL_FLAG     = '0'

	</select>

	<insert id="doSaveBatchLog" parameterType="hashMap">

		INSERT INTO STOCBLOG
		(
		<if test="_databaseId == 'oracle'">
			  JOB_SQ
			 ,
		</if>
			  JOB_DATE
			 ,JOB_TYPE
			 ,JOB_ID
			 ,JOB_KEY
			 ,JOB_RLT
			 ,JOB_RLT_CD
			 ,JOB_RLT_MSG
			 ,JOB_END_DATE
		)
		VALUES
		(
		<if test="_databaseId == 'oracle'">
			  SEQ_STOCBLOG.NEXTVAL
			 ,<include refid="common.sql.toChar"/>(#{JOB_DATE}, 'YYYY-MM-DD HH24:MI')
		</if>
		<if test="_databaseId == 'mssql'">
			  <include refid="common.sql.toChar"/>(SYSDATE, 'YYYY-MM-DD HH24:MI')
		</if>
			 ,#{JOB_TYPE}
			 ,#{JOB_ID}
			 ,#{JOB_KEY}
			 ,#{JOB_RLT}
			 ,#{JOB_RLT_CD}
			 ,#{JOB_RLT_MSG}
		<if test="_databaseId == 'oracle'">
			 ,<include refid="common.sql.toChar"/>(#{JOB_END_DATE}, 'YYYY-MM-DD HH24:MI')
		</if>
		<if test="_databaseId == 'mssql'">
			 ,<include refid="common.sql.toChar"/>(SYSDATE, 'YYYY-MM-DD HH24:MI')
		</if>
		)

	</insert>

	<select id="doSearchBatchLogList" resultType="hashMap">

        SELECT
        	  T.JOB_NM
        	 ,T.JOB_DATE
        	 ,T.JOB_END_DATE
        	 ,T.JOB_RLT
        	 ,T.JOB_RLT_MSG
		  FROM (SELECT
					  (CASE BL.JOB_ID WHEN 'HDxxxxJob' THEN ''
					   				  ELSE ''
					    END) as JOB_NM
					 ,<include refid="common.sql.toChar"/>(BL.JOB_DATE, 'YYYY-MM-DD HH24:MI') as JOB_DATE
					 ,<include refid="common.sql.toChar"/>(BL.JOB_END_DATE, 'YYYY-MM-DD HH24:MI') as JOB_END_DATE
					 ,BL.JOB_RLT
			 		 ,(CASE BL.JOB_RLT WHEN 'E' THEN BL.JOB_RLT_MSG ELSE '' END) as JOB_RLT_MSG
		  		  FROM STOCBLOG BL
				 WHERE BL.JOB_TYPE = 'Batch'
				<if test="JOB_DATE_FROM != '' and JOB_DATE_FROM != null and JOB_DATE_TO !='' and JOB_DATE_TO != null">
					AND BL.JOB_DATE <![CDATA[>=]]> <include refid="common.sql.toDateFrom"/>(#{JOB_DATE_FROM})
					AND BL.JOB_DATE <![CDATA[<=]]> <include refid="common.sql.toDateTo"/>(#{JOB_DATE_TO})
				</if>
				<if test="JOB_NM != '' and JOB_NM != null">
					AND BL.JOB_ID = #{JOB_NM}
				</if>
				<if test="JOB_RLT != '' and JOB_RLT != null">
				   AND BL.JOB_RLT = #{JOB_RLT}
				</if>
		 	   ) T
		  WHERE 1 = 1
<!--
		<if test="JOB_NM != '' and JOB_NM != '' and JOB_NM != null">
			AND UPPER( T.JOB_NM ) LIKE '%' <include refid="common.sql.stringMerge"/> UPPER(#{JOB_NM}) <include refid="common.sql.stringMerge"/> '%'
		</if>
 -->
         ORDER BY T.JOB_DATE DESC

	</select>

</mapper>