
################################################################
# 1. ���� �⺻ ����
################################################################
# ���� �α����� ��ġ
logfile=/logs/nhepro/SGIxLinker/secu.log
logfilePath=/logs/nhepro/SGIxLinker/

# ���� ���� �� ���ǻ��� : / �Ǵ� \\ ���ڰ� ���� �������.

# ���ηα� ��¿��� -  0 : off(�α���¾���), 1 : on(�α������)
logflagOut=1
logflagErr=1

# �����н� ������. ��) Unix=/, Win=\\
fileDelimeter=/

################################################################
# 2. ������ ������� ���
################################################################
crlpath=/svc/nhepro/NHeProFront/SGIxLinker/crl

################################################################
# 3. ���� ������ ������ ���� ���� ����
################################################################

# ����� ������ �ִ� ���� (Default 10��)
certificateNo=1

cert1.item=1	
cert1.filepath=/svc/nhepro/NHeProFront/SGIxLinker/cert/sender
cert1.signCert=signCert.der
cert1.signPri=signPri.key
cert1.kmCert=kmCert.der
cert1.kmPri=kmPri.key
cert1.passwd=passwd

################################################################
# 4. ������ �н����� ��ȣȭ ���, ������ ��ȿ�� ���� �� ���� ��� ����
################################################################
# 0 : �������, 1 : �űԹ��
# ��������� ���������� passwd���� �ѹ��� ����(��й�ȣ�� �ٲ�� ������ �� ���� - encPasswd.class)
# �űԹ���� �ϵ��� ������ �Ǹ� passwd���� ���� ����(��й�ȣ�� �ٲ�� ������ �� ���� - encPasswdEX.class)
platform=0

#������ ���� ���� (0 : ����, 1 : ���� �� ��)
IS_CERT_VALID=1

# 0 : CRL, 1 = OCSP
IS_CERT_VALID_TYPE=0

# xml ���ڼ��� �˰��� �ĺ��� ����
#signalgo=http://www.w3.org/2000/09/xmldsig#rsa-sha1
#signalgo=http://www.w3.org/2001/04/xmldsig-more#rsa-sha256
