
################################################################
# 1. 보안 기본 설정
################################################################
# 메인 로그파일 위치
logfile=S:/client_project/NH_SGIxLinker/WebContent/logs/secu.log
logfilePath=S:/client_project/NH_SGIxLinker/WebContent/logs/

# 폴더 설정 시 주의사항 : / 또는 \\ 문자가 끝에 없어야함.

# 메인로그 출력여부 -  0 : off(로그출력안함), 1 : on(로그출력함)
logflagOut=1
logflagErr=1

# 파일패스 구분자. 예) Unix=/, Win=\\     // OS에 맞게 수정
fileDelimeter=\\

################################################################
# 2. 인증서 폐지목록 경로
################################################################
crlpath=S:/client_project/NH_SGIxLinker/WebContent/crl

################################################################
# 3. 보안 업무별 인증서 관련 파일 설정
################################################################

# 사용할 인증서 최대 갯수 (Default 10개)
certificateNo=1

cert1.item=1	
cert1.filepath=S:/client_project/NH_SGIxLinker/WebContent/cert/sender
cert1.signCert=signCert.der
cert1.signPri=signPri.key
cert1.kmCert=kmCert.der
cert1.kmPri=kmPri.key
cert1.passwd=passwd

################################################################
# 4. 인증서 패스워드 암호화 방식, 인증서 유효성 검증 및 검증 방식 설정
################################################################
# 0 : 기존방식, 1 : 신규방식
# 기존방식은 서버인증서 passwd파일 한번만 생성(비밀번호가 바뀌면 무조건 재 생성 - encPasswd.class)
# 신규방식은 하드웨어가 변경이 되면 passwd파일 새로 생성(비밀번호가 바뀌면 무조건 재 생성 - encPasswdEX.class)
platform=0

#인증서 검증 여부 (0 : 검증, 1 : 검증 안 함)  // SGIC와 테스트 할 경우 검증으로 수정 후 테스트
IS_CERT_VALID=1

# 0 : CRL, 1 = OCSP
IS_CERT_VALID_TYPE=0

# xml 전자서명 알고리즘 식별자 정보
#signalgo=http://www.w3.org/2000/09/xmldsig#rsa-sha1
#signalgo=http://www.w3.org/2001/04/xmldsig-more#rsa-sha256
