<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st_ones.nhepro.SVNR.SVNR0010_Mapper">

    <select id="svnr0010_doSearch" parameterType="hashMap" resultType="hashMap">
        SELECT VNGL.GATE_CD
            , VNGL.VENDOR_CD
            , <include refid="common.sql.dbo"/>GETCOMPANYNAME(VNGL.GATE_CD, VNGL.VENDOR_CD, #{ses.langCd}) AS VENDOR_NM
            , VNGL.VENDOR_ENG_NM
            , VNGL.REG_TYPE
            , <include refid="common.sql.dbo"/>GETCOMCODE(VNGL.GATE_CD, 'M014', VNGL.REG_TYPE, '0', #{ses.langCd}) AS REG_TYPE_NM
            , VNGL.IRS_NO
            , VNGL.COMPANY_REG_NO
            , <include refid="common.sql.strDecStart"/>VNGL.HQ_ZIP_CD<include refid="common.sql.strDecEnd"/> AS HQ_ZIP_CD
            , <include refid="common.sql.strDecStart"/>VNGL.HQ_ADDR_1<include refid="common.sql.strDecEnd"/> AS HQ_ADDR_1
            , <include refid="common.sql.strDecStart"/>VNGL.HQ_ADDR_2<include refid="common.sql.strDecEnd"/> AS HQ_ADDR_2
            , <include refid="common.sql.strDecStart"/>VNGL.CEO_USER_NM<include refid="common.sql.strDecEnd"/> AS CEO_USER_NM
            , VNGL.BUSINESS_TYPE
            , VNGL.INDUSTRY_TYPE
            , <include refid="common.sql.toChar"/>(VNGL.FOUNDATION_DATE, 'YYYY-MM-DD') AS FOUNDATION_DATE
            , <include refid="common.sql.strDecStart"/>VNGL.TEL_NO<include refid="common.sql.strDecEnd"/> AS TEL_NO
            , <include refid="common.sql.strDecStart"/>VNGL.FAX_NO<include refid="common.sql.strDecEnd"/> AS FAX_NO
            , <include refid="common.sql.strDecStart"/>VNGL.EMAIL<include refid="common.sql.strDecEnd"/> AS EMAIL
            , VNGL.BUSINESS_SIZE
            , <include refid="common.sql.dbo"/>GETCOMCODE(VNGL.GATE_CD, 'MP039', VNGL.BUSINESS_SIZE, '0', #{ses.langCd}) AS BUSINESS_SIZE_NM
            , VNGL.BUSINESS_DIVISION
            , <include refid="common.sql.dbo"/>GETCOMCODE(VNGL.GATE_CD, 'MP040', VNGL.BUSINESS_DIVISION, '0', #{ses.langCd}) AS BUSINESS_DIVISION_NM
            , '' AS REGION_CD
            , VNGL.BUSINESS_REMARK
            , VNGL.REMARK_TEXT
            , VNGL.RELAT_YN
            , <include refid="common.sql.dbo"/>GETCOMCODE(VNGL.GATE_CD, 'NH0005', VNGL.RELAT_YN, '0', #{ses.langCd}) AS RELAT_YN_NM
            , VNGL.CORP_TYPE
            , <include refid="common.sql.dbo"/>GETCOMCODE(VNGL.GATE_CD, 'NH0002', VNGL.CORP_TYPE, '0', #{ses.langCd}) AS CORP_TYPE_NM

            -- 재무정보
            , VNFI.FI_YEAR
            , <include refid="common.sql.dbo"/>GETCOMCODE(VNGL.GATE_CD, 'M174', VNFI.FI_YEAR, '0', #{ses.langCd}) AS FI_YEAR_NM
            , VNFI.EVIDENCE_TYPE
            , <include refid="common.sql.dbo"/>GETCOMCODE(VNGL.GATE_CD, 'MP048', VNFI.EVIDENCE_TYPE, '0', #{ses.langCd}) AS EVIDENCE_TYPE_NM
            , VNFI.OWNER_CAPITAL_AMOUNT
            , VNFI.TOT_FUND_AMT
            , VNFI.TOT_LIAB_AMT
            , VNFI.TOTAL_LIABILITY_RATE
            , VNFI.CURRENT_ASSET_AMOUNT
            , VNFI.CURRENT_ASSET_LIABILITY_AMOUNT
            ,(VNFI.CURRENT_ASSET_AMOUNT / (CASE WHEN <include refid="common.sql.nvl"/>(VNFI.CURRENT_ASSET_LIABILITY_AMOUNT, 0) = 0 THEN 1 ELSE VNFI.CURRENT_ASSET_LIABILITY_AMOUNT END)) * 100 AS CURRENT_ASSET_LIABILITY_RATE
            , VNFI.SALES_AMOUNT
            , VNFI.NET_PROFIT_AMOUNT
            , VNFI.ATT_FILE_NUM AS VNFI_ATT_FILE_NUM
            , <include refid="common.sql.dbo"/>getFileName(VNFI.GATE_CD, VNFI.ATT_FILE_NUM) AS VNFI_ATT_FILE_NM
            , CASE WHEN <include refid="common.sql.dbo"/>GETFILECOUNT(VNFI.GATE_CD, VNFI.ATT_FILE_NUM) = 0
              THEN NULL
              ELSE <include refid="common.sql.dbo"/>GETFILECOUNT(VNFI.GATE_CD, VNFI.ATT_FILE_NUM)
              END AS VNFI_ATT_FILE_NUM_CNT

            -- 관리정보
            , VNGL.CREDIT_EVAL_COMPANY
            , VNGL.CREDIT_CD
            , <include refid="common.sql.dbo"/>GETCOMCODE(VNGL.GATE_CD, 'MP003', VNGL.CREDIT_CD, '0', #{ses.langCd}) AS CREDIT_NM
            , VNGL.EV_ATT_FILE_NUM AS EV_ATT_FILE_NUM
            , <include refid="common.sql.dbo"/>getFileName(VNGL.GATE_CD, VNGL.EV_ATT_FILE_NUM) AS EV_ATT_FILE_NM
            , CASE WHEN <include refid="common.sql.dbo"/>GETFILECOUNT(VNGL.GATE_CD, VNGL.EV_ATT_FILE_NUM) = 0
              THEN NULL
              ELSE <include refid="common.sql.dbo"/>GETFILECOUNT(VNGL.GATE_CD, VNGL.EV_ATT_FILE_NUM)
              END AS EV_ATT_FILE_NUM_CNT
            , VNGL.E_BILL_ASP_TYPE
            , <include refid="common.sql.dbo"/>GETCOMCODE(VNGL.GATE_CD, 'MP075', VNGL.E_BILL_ASP_TYPE, '0', #{ses.langCd}) AS E_BILL_ASP_TYPE_NM
            , VNGL.TAX_ASP_NM
            , VNGL.TAX_SEND_TYPE
            , <include refid="common.sql.dbo"/>GETCOMCODE(VNGL.GATE_CD, 'MP064', VNGL.TAX_SEND_TYPE, '0', #{ses.langCd}) AS TAX_SEND_TYPE_NM
            , VNGL.BLOCK_FLAG
            , <include refid="common.sql.dbo"/>GETCOMCODE(VNGL.GATE_CD, 'MP006', VNGL.BLOCK_FLAG, '0', #{ses.langCd}) AS BLOCK_FLAG_NM
            , VNGL.BLOCK_REASON
            , VNGL.PROGRESS_CD
            , <include refid="common.sql.dbo"/>GETCOMCODE(VNGL.GATE_CD, 'M019', VNGL.PROGRESS_CD, '0', #{ses.langCd}) AS PROGRESS_NM
            , VNGL.SIGN_STATUS
            , <include refid="common.sql.dbo"/>GETCOMCODE(VNGL.GATE_CD, 'M019', VNGL.SIGN_STATUS, '0', #{ses.langCd}) AS SIGN_STATUS_NM
            , VNGL.MOD_USER_ID
            , <include refid="common.sql.dbo"/>GETUSERNAME(VNGL.GATE_CD,  VNGL.MOD_USER_ID , #{ses.langCd}) AS MOD_USER_NM
            , <include refid="common.sql.toChar"/>(VNGL.MOD_DATE, 'YYYY-MM-DD HH24:MI') AS MOD_DATE

            -- 결제정보
            , VNGL.PAY_CONDITION
            , <include refid="common.sql.dbo"/>GETCOMCODE(VNGL.GATE_CD, 'MP045', VNGL.PAY_CONDITION, '0', #{ses.langCd}) AS PAY_CONDITION_NM
            , VNGL.PAY_TYPE
            , <include refid="common.sql.dbo"/>GETCOMCODE(VNGL.GATE_CD, 'MP046', VNGL.PAY_TYPE, '0', #{ses.langCd}) AS PAY_TYPE_NM
            , VNGL.PAY_PUBLIC_TYPE
            , <include refid="common.sql.dbo"/>GETCOMCODE(VNGL.GATE_CD, 'MP047', VNGL.PAY_PUBLIC_TYPE, '0', #{ses.langCd}) AS PAY_PUBLIC_TYPE_NM
        FROM STOCVNGL VNGL
        LEFT JOIN STOCVNFI VNFI
            ON (VNFI.GATE_CD = VNGL.GATE_CD
            AND VNFI.VENDOR_CD = VNGL.VENDOR_CD
            AND VNFI.FI_YEAR = (SELECT MAX(FI_YEAR)
                                FROM STOCVNFI S
                                WHERE S.GATE_CD = VNFI.GATE_CD
                                AND S.VENDOR_CD = VNFI.VENDOR_CD
                                AND S.DEL_FLAG = '0'))
        WHERE VNGL.GATE_CD = #{ses.gateCd}
        AND VNGL.DEL_FLAG = '0'
        AND VNGL.VENDOR_CD = #{ses.companyCd}
    </select>

    <select id="svnr0010_doSearchVNSL" parameterType="hashMap" resultType="hashMap">
        SELECT VNSL.SEQ
            , VNSL.SL_TYPE
            , <include refid="common.sql.dbo"/>GETCOMCODE(VNSL.GATE_CD, 'NH0006', VNSL.SL_TYPE, '0', #{ses.langCd}) AS SL_TYPE_NM
            , VNSL.SL_NUM
            , VNSL.SL_NM
            , VNSL.ISSUE_NM
            , VNSL.EXPIRY_DATE
            , VNSL.ATT_FILE_NUM
            , CASE WHEN <include refid="common.sql.dbo"/>GETFILECOUNT(VNSL.GATE_CD, VNSL.ATT_FILE_NUM) = 0
              THEN NULL
              ELSE <include refid="common.sql.dbo"/>GETFILECOUNT(VNSL.GATE_CD, VNSL.ATT_FILE_NUM)
              END AS ATT_FILE_NUM_CNT
        FROM STOCVNSL VNSL
        WHERE VNSL.GATE_CD = #{ses.gateCd}
        AND VNSL.COMPANY_CD = #{VENDOR_CD}
        AND VNSL.DEL_FLAG = '0'
    </select>

    <select id="svnr0010_doSearchVNAP" parameterType="hashMap" resultType="hashMap">
        SELECT TO_NUMBER(VNAP.SEQ) AS SEQ
             , VNAP.VENDOR_CD
             , <include refid="common.sql.toChar"/>(VNAP.MOD_DATE, 'YYYY-MM-DD HH24:MI') AS MOD_DATE
             , VNAP.MOD_USER_ID
             , <include refid="common.sql.dbo"/>GETUSERNAME(VNAP.GATE_CD,  VNAP.MOD_USER_ID , #{ses.langCd}) AS MOD_USER_NM
             , VNAP.DEL_FLAG
             , VNAP.PAY_ACC_NM
             , VNAP.PAY_BANK
             , <include refid="common.sql.strDecStart"/>VNAP.PAY_ACCOUNT_NUM<include refid="common.sql.strDecEnd"/> AS PAY_ACCOUNT_NUM
             , <include refid="common.sql.strDecStart"/>VNAP.PAY_ACCOUNT_USER_NM<include refid="common.sql.strDecEnd"/> AS PAY_ACCOUNT_USER_NM
             , <include refid="common.sql.strDecStart"/>VNAP.PAY_ACC_MNG_NM<include refid="common.sql.strDecEnd"/> AS PAY_ACC_MNG_NM
             , <include refid="common.sql.strDecStart"/>VNAP.PAY_ACC_NMG_TEL_NUM<include refid="common.sql.strDecEnd"/> AS PAY_ACC_NMG_TEL_NUM
             , <include refid="common.sql.strDecStart"/>VNAP.PAY_ACC_MNG_EMAIL<include refid="common.sql.strDecEnd"/> AS PAY_ACC_MNG_EMAIL
             , VNAP.ATT_FILE_NUM AS PAY_ATT_FILE_NUM
             , CASE WHEN <include refid="common.sql.dbo"/>GETFILECOUNT(VNAP.GATE_CD, VNAP.ATT_FILE_NUM) = 0
              THEN NULL
              ELSE <include refid="common.sql.dbo"/>GETFILECOUNT(VNAP.GATE_CD, VNAP.ATT_FILE_NUM)
              END AS PAY_ATT_FILE_NUM_CNT
        FROM STOCVNAP VNAP
        WHERE VNAP.GATE_CD = #{ses.gateCd}
        AND VNAP.VENDOR_CD = #{VENDOR_CD}
        AND VNAP.DEL_FLAG = '0'
        ORDER BY SEQ
    </select>

    <select id="svnr0010_doSearchATTD" parameterType="hashMap" resultType="hashMap">
        SELECT ATTD.GATE_CD
            , ATTD.BUYER_CD
            , ATTD.TMPL_NUM
            , TO_CHAR(ATTD.TMPL_SQ) AS TMPL_SQ
            , ATTD.TMPL_FILE_NM
            , ATTD.VALID_PERIOD
            , <include refid="common.sql.toChar"/>(ATTS.VALID_START_DATE, 'YYYY-MM-DD') AS VALID_START_DATE
            , <include refid="common.sql.toChar"/>(ATTS.VALID_END_DATE, 'YYYY-MM-DD') AS VALID_END_DATE
            , ATTD.REQUIRED_FLAG
            , <include refid="common.sql.dbo"/>GETCOMCODE(ATTD.GATE_CD, 'M044', ATTD.REQUIRED_FLAG, '0', #{ses.langCd}) AS REQUIRED_FLAG_NM
            , ATTS.ATT_FILE_NUM AS ATTS_ATT_FILE_NUM
            , CASE WHEN <include refid="common.sql.dbo"/>GETFILECOUNT(ATTS.GATE_CD, ATTS.ATT_FILE_NUM) = 0
              THEN NULL
              ELSE <include refid="common.sql.dbo"/>GETFILECOUNT(ATTS.GATE_CD, ATTS.ATT_FILE_NUM)
              END AS ATTS_ATT_FILE_NUM_CNT
            , ATTD.TMPL_FILE_NUM
            , CASE WHEN <include refid="common.sql.dbo"/>GETFILECOUNT(ATTD.GATE_CD, ATTD.TMPL_FILE_NUM) = 0
              THEN NULL
              ELSE <include refid="common.sql.dbo"/>GETFILECOUNT(ATTD.GATE_CD, ATTD.TMPL_FILE_NUM)
              END AS TMPL_FILE_NUM_CNT
        FROM STOCATTD ATTD
        LEFT JOIN STOCATTS ATTS
            ON (ATTS.GATE_CD = ATTD.GATE_CD
            AND ATTS.BUYER_CD = ATTD.BUYER_CD
            AND ATTS.DOC_TYPE = ATTD.DOC_TYPE
            AND ATTS.TMPL_NUM = ATTD.TMPL_NUM
            AND ATTS.TMPL_SQ = ATTD.TMPL_SQ
            AND ATTS.VENDOR_CD = #{VENDOR_CD}
            AND ATTs.DEL_FLAG = '0')
        WHERE ATTD.GATE_CD = #{ses.gateCd}
        AND ATTD.DEL_FLAG = '0'
        AND ATTD.USE_FLAG = '1'
        AND ATTD.BUYER_CD IN (  SELECT #{ses.manageCd}
        						  FROM DUAL
        						UNION ALL
                                SELECT VNCM.BUYER_CD
                                  FROM STOCVNCM VNCM
                                 WHERE VNCM.GATE_CD   = #{ses.gateCd}
                                   AND VNCM.DEL_FLAG  = '0'
                                   AND VNCM.VENDOR_CD = #{VENDOR_CD}
                                )
        AND ATTD.DOC_TYPE = 'D02'
        ORDER BY ATTD.BUYER_CD, ATTD.SORT_SQ
    </select>

    <select id="svnr0010_doSearchVNCM" parameterType="hashMap" resultType="hashMap">
        SELECT ROWNUM AS SEQ
            , VNCM.BUYER_CD
            , VNCM.BUYER_CD AS ORG_BUYER_CD
            , <include refid="common.sql.dbo"/>GETCOMPANYNAME(VNCM.GATE_CD, VNCM.BUYER_CD, #{ses.langCd}) AS BUYER_NM
            , VNCM.DEPT_CD
            , VNCM.DEPT_CD AS ORG_DEPT_CD
            , <include refid="common.sql.dbo"/>getDeptName(VNCM.GATE_CD, VNCM.BUYER_CD, VNCM.DEPT_CD, #{ses.langCd}) AS DEPT_NM
            , VNCM.CONFIRM_FLAG
            , <include refid="common.sql.dbo"/>GETCOMCODE(VNCM.GATE_CD, 'M019', VNCM.CONFIRM_FLAG, '0', #{ses.langCd}) AS CONFIRM_FLAG_NM
            , <include refid="common.sql.toChar"/>(VNCM.CONFIRM_DATE, 'YYYY-MM-DD') AS CONFIRM_DATE
            , VNCM.CONFIRM_USER_ID
            , <include refid="common.sql.dbo"/>GETUSERNAME(VNCM.GATE_CD,  VNCM.CONFIRM_USER_ID , #{ses.langCd}) AS CONFIRM_USER_NM
            , VNCM.CONFIRM_REASON
            , VNCM.REQ_REASON
         FROM STOCVNCM VNCM
        WHERE VNCM.GATE_CD   = #{ses.gateCd}
          AND VNCM.DEL_FLAG  = '0'
          AND VNCM.VENDOR_CD = #{VENDOR_CD}
        ORDER BY VNCM.REG_DATE
    </select>

    <select id="svnr0010_doSearchCntVNCM" parameterType="hashMap" resultType="int">
        SELECT COUNT(VNCM.VENDOR_CD)
          FROM STOCVNCM VNCM
         WHERE VNCM.GATE_CD   = #{ses.gateCd}
           AND VNCM.DEL_FLAG  = '0'
           AND VNCM.VENDOR_CD = #{VENDOR_CD}
    </select>

    <update id="svnr0010_doUpdate" parameterType="hashMap">
        UPDATE STOCVNGL SET
            VENDOR_NM = #{VENDOR_NM}
            , VENDOR_ENG_NM = #{VENDOR_ENG_NM}
            , REG_TYPE = #{REG_TYPE}
            , RELAT_YN = #{RELAT_YN}
            , CORP_TYPE = #{CORP_TYPE}
            , IRS_NO = #{IRS_NO}
            , COMPANY_REG_NO = #{COMPANY_REG_NO}
            , BUSINESS_SIZE = #{BUSINESS_SIZE}
            , HQ_ZIP_CD = <include refid="common.sql.strEncStart"/>#{HQ_ZIP_CD}<include refid="common.sql.strEncEnd"/>
            , HQ_ADDR_1 = <include refid="common.sql.strEncStart"/>#{HQ_ADDR_1}<include refid="common.sql.strEncEnd"/>
            , HQ_ADDR_2 = <include refid="common.sql.strEncStart"/>#{HQ_ADDR_2}<include refid="common.sql.strEncEnd"/>
            , CEO_USER_NM = <include refid="common.sql.strEncStart"/>#{CEO_USER_NM}<include refid="common.sql.strEncEnd"/>
            , BUSINESS_TYPE = #{BUSINESS_TYPE}
            , INDUSTRY_TYPE = #{INDUSTRY_TYPE}
            , FOUNDATION_DATE = #{FOUNDATION_DATE}
            , TEL_NO = <include refid="common.sql.strEncStart"/>#{TEL_NO}<include refid="common.sql.strEncEnd"/>
            , FAX_NO = <include refid="common.sql.strEncStart"/>#{FAX_NO}<include refid="common.sql.strEncEnd"/>
            , EMAIL = <include refid="common.sql.strEncStart"/>#{EMAIL}<include refid="common.sql.strEncEnd"/>
            , BUSINESS_REMARK = #{BUSINESS_REMARK}
            , REMARK_TEXT = #{REMARK_TEXT}
--             관리정보
            , E_BILL_ASP_TYPE = #{E_BILL_ASP_TYPE}
            , TAX_ASP_NM = #{TAX_ASP_NM}
            , TAX_SEND_TYPE = #{TAX_SEND_TYPE}
            , CREDIT_EVAL_COMPANY = #{CREDIT_EVAL_COMPANY}
            , CREDIT_CD = #{CREDIT_CD}
            , EV_ATT_FILE_NUM = #{EV_ATT_FILE_NUM}
--             결제정보
            , PAY_CONDITION = #{PAY_CONDITION}
            , PAY_TYPE = #{PAY_TYPE}
            , PAY_PUBLIC_TYPE = #{PAY_PUBLIC_TYPE}
            , MOD_DATE = SYSDATE
            , MOD_USER_ID = #{ses.userId}
        WHERE GATE_CD   = #{ses.gateCd}
          AND VENDOR_CD = #{VENDOR_CD}
    </update>

    <update id="svnr0010_doMergeVNFI" parameterType="hashMap">
        MERGE <include refid="common.sql.mergeInto"/> STOCVNFI <include refid="common.sql.mergeAs"/> VNFI
        USING (
            SELECT #{ses.gateCd} AS GATE_CD
                , #{VENDOR_CD} AS VENDOR_CD
                , #{FI_YEAR} AS FI_YEAR
            <include refid="common.sql.dual"/>
            ) PARAM
            ON (PARAM.GATE_CD = VNFI.GATE_CD
            AND PARAM.VENDOR_CD = VNFI.VENDOR_CD
            AND PARAM.FI_YEAR = VNFI.FI_YEAR)
        WHEN MATCHED THEN
        UPDATE SET
            MOD_DATE = SYSDATE
            , MOD_USER_ID = #{ses.userId}
            , DEL_FLAG = '0'
            , EVIDENCE_TYPE = #{EVIDENCE_TYPE}
            , OWNER_CAPITAL_AMOUNT = #{OWNER_CAPITAL_AMOUNT}
            , TOT_FUND_AMT = #{TOT_FUND_AMT}
            , TOT_LIAB_AMT = #{TOT_LIAB_AMT}
            , TOTAL_LIABILITY_RATE = #{TOTAL_LIABILITY_RATE}
            , CURRENT_ASSET_AMOUNT = #{CURRENT_ASSET_AMOUNT}
            , CURRENT_ASSET_LIABILITY_AMOUNT = #{CURRENT_ASSET_LIABILITY_AMOUNT}
            , SALES_AMOUNT = #{SALES_AMOUNT}
            , NET_PROFIT_AMOUNT = #{NET_PROFIT_AMOUNT}
            , ATT_FILE_NUM = #{VNFI_ATT_FILE_NUM}
        WHEN NOT MATCHED THEN
        INSERT (
            GATE_CD
            , VENDOR_CD
            , FI_YEAR
            , EVIDENCE_TYPE
            , OWNER_CAPITAL_AMOUNT
            , TOT_FUND_AMT
            , TOT_LIAB_AMT
            , TOTAL_LIABILITY_RATE
            , CURRENT_ASSET_AMOUNT
            , CURRENT_ASSET_LIABILITY_AMOUNT
            , SALES_AMOUNT
            , NET_PROFIT_AMOUNT
            , ATT_FILE_NUM
            , REG_DATE
            , REG_USER_ID
            , MOD_DATE
            , MOD_USER_ID
            , DEL_FLAG
        ) VALUES (
            #{ses.gateCd}
            , #{VENDOR_CD}
            , #{FI_YEAR}
            , #{EVIDENCE_TYPE}
            , #{OWNER_CAPITAL_AMOUNT}
            , #{TOT_FUND_AMT}
            , #{TOT_LIAB_AMT}
            , #{TOTAL_LIABILITY_RATE}
            , #{CURRENT_ASSET_AMOUNT}
            , #{CURRENT_ASSET_LIABILITY_AMOUNT}
            , #{SALES_AMOUNT}
            , #{NET_PROFIT_AMOUNT}
            , #{VNFI_ATT_FILE_NUM}
            , SYSDATE
            , #{ses.userId}
            , SYSDATE
            , #{ses.userId}
            , '0'
        )<include refid="common.sql.comma"/>
    </update>
	
	<update id="svnr0010_doUpateCorp" parameterType="hashMap">
        UPDATE TB_CO_CORP SET
			REP_NM = DAMO.ENCRYPT_VAR_B64('EBILL_AES_256',  #{CEO_USER_NM},  '' )  
			, BIZTP = #{BUSINESS_TYPE}
			, BZC = #{INDUSTRY_TYPE}     
			, ZIP = DAMO.ENCRYPT_VAR_B64('EBILL_AES_256',  #{HQ_ZIP_CD},  '' )  
        	, ADDR = DAMO.ENCRYPT_VAR_B64('EBILL_AES_256',  #{HQ_ADDR_1},  '' )
        	, DTL_ADDR = DAMO.ENCRYPT_VAR_B64('EBILL_AES_256',  #{HQ_ADDR_2},  '' )
			, REP_TEL = DAMO.ENCRYPT_VAR_B64('EBILL_AES_256',  #{TEL_NO},  '' )
			, FAX = DAMO.ENCRYPT_VAR_B64('EBILL_AES_256',  #{FAX_NO},  '' ) 
			, CORP_ROW_NO = #{COMPANY_REG_NO}
            , LSCHGDTM = SYSDATE
            , LSCHGID = #{ses.userId}
        WHERE CORP_NO = #{IRS_NO}
    </update>
    
    <update id="svnr0010_doUpateBrc" parameterType="hashMap">
        UPDATE TB_CO_BRC SET
        	ZIP = DAMO.ENCRYPT_VAR_B64('EBILL_AES_256',  #{HQ_ZIP_CD},  '' )
			, ADDR = DAMO.ENCRYPT_VAR_B64('EBILL_AES_256',  #{HQ_ADDR_1}||''||#{HQ_ADDR_2},  '' )
			, REP_TEL = DAMO.ENCRYPT_VAR_B64('EBILL_AES_256',  #{TEL_NO},  '' )
			, CUST_TEL = DAMO.ENCRYPT_VAR_B64('EBILL_AES_256',  #{TEL_NO},  '' )
			, FAX = DAMO.ENCRYPT_VAR_B64('EBILL_AES_256',  #{FAX_NO},  '' ) 
            , LSCHGDTM = SYSDATE
            , LSCHGID = #{ses.userId}
        WHERE CORP_NO = #{IRS_NO}
    </update>
    
    <update id="svnr0010_doUpateDept" parameterType="hashMap">
        UPDATE TB_CO_DEPT SET
        	ZIP = DAMO.ENCRYPT_VAR_B64('EBILL_AES_256',  #{HQ_ZIP_CD},  '' )
			, ADDR = DAMO.ENCRYPT_VAR_B64('EBILL_AES_256',  #{HQ_ADDR_1}||''||#{HQ_ADDR_2},  '' )
			, REP_TEL = DAMO.ENCRYPT_VAR_B64('EBILL_AES_256',  #{TEL_NO},  '' )
			, CUST_TEL = DAMO.ENCRYPT_VAR_B64('EBILL_AES_256',  #{TEL_NO},  '' )
			, FAX = DAMO.ENCRYPT_VAR_B64('EBILL_AES_256',  #{FAX_NO},  '' ) 
            , LSCHGDTM = SYSDATE
            , LSCHGID = #{ses.userId}
        WHERE CORP_NO = #{IRS_NO}
    </update>
	
    <insert id="svnr0010_doInsertVNSL" parameterType="hashMap">
        INSERT INTO STOCVNSL (
            GATE_CD
            , COMPANY_CD
            , COMPANY_DEPT_CD
            , SEQ
            , REG_DATE
            , REG_USER_ID
            , MOD_DATE
            , MOD_USER_ID
            , DEL_FLAG
            , SL_TYPE
            , SL_NUM
            , SL_NM
            , ISSUE_NM
            , EXPIRY_DATE
            , ATT_FILE_NUM
        ) VALUES (
            #{ses.gateCd}
            , #{COMPANY_CD}
            , '0000' -- 협력사는 0000, 고객사는 해당부서
            , (SELECT <include refid="common.sql.nvl"/>(MAX(TO_NUMBER(SEQ)), 0) + 1 FROM STOCVNSL WHERE GATE_CD = #{GATE_CD} AND COMPANY_CD = #{COMPANY_CD})
            , SYSDATE
            , #{ses.userId}
            , SYSDATE
            , #{ses.userId}
            , '0'
            , #{SL_TYPE}
            , #{SL_NUM}
            , #{SL_NM}
            , #{ISSUE_NM}
            , #{EXPIRY_DATE}
            , #{ATT_FILE_NUM}
        )
    </insert>

    <update id="svnr0010_doUpdateVNSL" parameterType="hashMap">
        UPDATE STOCVNSL SET
            SL_TYPE = #{SL_TYPE}
            , SL_NUM = #{SL_NUM}
            , SL_NM = #{SL_NM}
            , ISSUE_NM = #{ISSUE_NM}
            , EXPIRY_DATE = #{EXPIRY_DATE}
            , ATT_FILE_NUM = #{ATT_FILE_NUM}
            , MOD_DATE = SYSDATE
            , MOD_USER_ID = #{ses.userId}
        WHERE GATE_CD = #{ses.gateCd}
        AND COMPANY_CD = #{COMPANY_CD}
        AND SEQ = #{SEQ}
    </update>

    <update id="svnr0010_doDeleteVNSL" parameterType="hashMap">
        UPDATE STOCVNSL SET
            DEL_FLAG = '1'
            , MOD_DATE = SYSDATE
            , MOD_USER_ID = #{ses.userId}
        WHERE GATE_CD = #{ses.gateCd}
        AND COMPANY_CD = #{COMPANY_CD}
        AND SEQ = #{SEQ}
    </update>

    <insert id="svnr0010_doInsertVNAP" parameterType="hashMap">
        INSERT INTO STOCVNAP (
            GATE_CD
            , VENDOR_CD
            , SEQ
            , REG_DATE
            , REG_USER_ID
            , MOD_DATE
            , MOD_USER_ID
            , DEL_FLAG
            , PAY_ACC_NM
            , PAY_BANK
            , PAY_ACCOUNT_NUM
            , PAY_ACCOUNT_USER_NM
            , PAY_ACC_MNG_NM
            , PAY_ACC_NMG_TEL_NUM
            , PAY_ACC_MNG_EMAIL
            , ATT_FILE_NUM
        ) VALUES (
            #{ses.gateCd}
            , #{VENDOR_CD}
            , (SELECT <include refid="common.sql.nvl"/>(MAX(TO_NUMBER(SEQ)), 0) + 1 FROM STOCVNAP WHERE GATE_CD = #{ses.gateCd} AND VENDOR_CD = #{VENDOR_CD})
            , SYSDATE
            , #{ses.userId}
            , SYSDATE
            , #{ses.userId}
            , '0'
            , #{PAY_ACC_NM}
            , #{PAY_BANK}
            , <include refid="common.sql.strEncStart"/>#{PAY_ACCOUNT_NUM}<include refid="common.sql.strEncEnd"/>
            , <include refid="common.sql.strEncStart"/>#{PAY_ACCOUNT_USER_NM}<include refid="common.sql.strEncEnd"/>
            , <include refid="common.sql.strEncStart"/>#{PAY_ACC_MNG_NM}<include refid="common.sql.strEncEnd"/>
            , <include refid="common.sql.strEncStart"/>#{PAY_ACC_NMG_TEL_NUM}<include refid="common.sql.strEncEnd"/>
            , <include refid="common.sql.strEncStart"/>#{PAY_ACC_MNG_EMAIL}<include refid="common.sql.strEncEnd"/>
            , #{PAY_ATT_FILE_NUM}
        )
    </insert>

    <update id="svnr0010_doUpdateVNAP" parameterType="hashMap">
        UPDATE STOCVNAP SET
            PAY_ACC_NM = #{PAY_ACC_NM}
            , PAY_BANK = #{PAY_BANK}
            , PAY_ACCOUNT_NUM = <include refid="common.sql.strEncStart"/>#{PAY_ACCOUNT_NUM}<include refid="common.sql.strEncEnd"/>
            , PAY_ACCOUNT_USER_NM = <include refid="common.sql.strEncStart"/>#{PAY_ACCOUNT_USER_NM}<include refid="common.sql.strEncEnd"/>
            , PAY_ACC_MNG_NM = <include refid="common.sql.strEncStart"/>#{PAY_ACC_MNG_NM}<include refid="common.sql.strEncEnd"/>
            , PAY_ACC_NMG_TEL_NUM = <include refid="common.sql.strEncStart"/>#{PAY_ACC_NMG_TEL_NUM}<include refid="common.sql.strEncEnd"/>
            , PAY_ACC_MNG_EMAIL = <include refid="common.sql.strEncStart"/>#{PAY_ACC_MNG_EMAIL}<include refid="common.sql.strEncEnd"/>
            , ATT_FILE_NUM = #{PAY_ATT_FILE_NUM}
            , MOD_DATE = SYSDATE
            , MOD_USER_ID = #{ses.userId}
        WHERE GATE_CD = #{ses.gateCd}
        AND VENDOR_CD = #{VENDOR_CD}
        AND SEQ = #{SEQ}
    </update>

    <update id="svnr0010_doDeleteVNAP" parameterType="hashMap">
        UPDATE STOCVNAP SET
            DEL_FLAG = '1'
            , MOD_DATE = SYSDATE
            , MOD_USER_ID = #{ses.userId}
        WHERE GATE_CD = #{ses.gateCd}
        AND VENDOR_CD = #{VENDOR_CD}
        AND SEQ = #{SEQ}
    </update>
	
	<!-- 거래희망 고객사 요청 -->
    <insert id="svnr0010_doInsertVNCM" parameterType="hashMap">
    	MERGE INTO STOCVNCM A
		USING (SELECT #{ses.gateCd} AS GATE_CD
		            , #{VENDOR_CD}  AS VENDOR_CD
		            , #{BUYER_CD}   AS BUYER_CD
		       <include refid="common.sql.dual"/>) B
            ON (A.GATE_CD   = B.GATE_CD
            AND A.VENDOR_CD = B.VENDOR_CD
            AND A.BUYER_CD  = B.BUYER_CD)
		WHEN MATCHED THEN
		UPDATE SET
			  MOD_DATE     = SYSDATE
			, MOD_USER_ID  = #{ses.userId}
			, DEL_FLAG     = '0'
			, REQ_REASON   = #{REQ_REASON}
			, CONFIRM_FLAG = 'J'
		WHEN NOT MATCHED THEN
		INSERT (
             GATE_CD
             , VENDOR_CD
             , BUYER_CD
             , DEPT_CD
             , REG_DATE
             , REG_USER_ID
             , MOD_DATE
             , MOD_USER_ID
             , DEL_FLAG
             , CONFIRM_FLAG
             , REQ_REASON
        ) VALUES (
             #{ses.gateCd}
             , #{VENDOR_CD}
             , #{BUYER_CD}
             , <include refid="common.sql.nvl"/>(#{DEPT_CD}, 'O')
             , SYSDATE
             , #{ses.userId}
             , SYSDATE
             , #{ses.userId}
             , '0'
             , 'J'
             , #{REQ_REASON}
        )
    </insert>

    <select id="getBrUserList" resultType="java.util.Map">
        SELECT CTRL_USER_ID
          FROM STOCBACP
         WHERE BUYER_CD = #{BUYER_CD}
           AND CTRL_CD  = 'BR090'
           AND DEL_FLAG = '0'
    </select>
	
	<!-- 거래희망 고객사 재요청 -->
    <update id="svnr0010_doUpdateReqVNCM" parameterType="hashMap">
        UPDATE STOCVNCM SET
              CONFIRM_FLAG = 'J'
            , CONFIRM_USER_ID = NULL
            , CONFIRM_REASON = NULL
            , CONFIRM_DATE = NULL
            , REQ_REASON = #{REQ_REASON}
            , MOD_DATE = SYSDATE
            , MOD_USER_ID = #{ses.userId}
        WHERE GATE_CD   = #{ses.gateCd}
          AND VENDOR_CD = #{VENDOR_CD}
          AND BUYER_CD  = #{BUYER_CD}
          AND DEPT_CD   = <include refid="common.sql.nvl"/>(#{DEPT_CD}, 'O')
    </update>

    <update id="svnr0010_doUpdateVNCM" parameterType="hashMap">
        UPDATE STOCVNCM SET
              CONFIRM_FLAG = 'J'
            , CONFIRM_USER_ID = NULL
            , CONFIRM_REASON = NULL
            , CONFIRM_DATE = NULL
            , REQ_REASON = #{REQ_REASON}
            , MOD_DATE = SYSDATE
            , MOD_USER_ID = #{ses.userId}
        WHERE GATE_CD  = #{ses.gateCd}
          AND VENDOR_CD = #{VENDOR_CD}
          AND BUYER_CD  = #{BUYER_CD}
          AND DEPT_CD   = <include refid="common.sql.nvl"/>(#{DEPT_CD}, 'O')
    </update>

    <delete id="svnr0010_doDeleteVNCM" parameterType="hashMap">
        DELETE STOCVNCM
        WHERE GATE_CD   = #{ses.gateCd}
          AND VENDOR_CD = #{VENDOR_CD}
          AND BUYER_CD  = #{BUYER_CD}
          AND DEPT_CD   = <include refid="common.sql.nvl"/>(#{DEPT_CD}, 'O')
    </delete>

    <update id="svnr0010_doMergeATTS" parameterType="hashMap">
        MERGE <include refid="common.sql.mergeInto"/> STOCATTS <include refid="common.sql.mergeAs"/> ATTS
        USING (
            SELECT #{ses.gateCd} AS GATE_CD
                , #{BUYER_CD} AS BUYER_CD
                , 'D02' AS DOC_TYPE
                , #{TMPL_NUM} AS TMPL_NUM
                , #{TMPL_SQ} AS TMPL_SQ
                , #{VENDOR_CD} AS VENDOR_CD
            <include refid="common.sql.dual"/>
            ) PARAM
            ON (PARAM.GATE_CD = ATTS.GATE_CD
            AND PARAM.BUYER_CD = ATTS.BUYER_CD
            AND PARAM.DOC_TYPE = ATTS.DOC_TYPE
            AND PARAM.TMPL_NUM = ATTS.TMPL_NUM
            AND PARAM.TMPL_SQ = ATTS.TMPL_SQ
            AND PARAM.VENDOR_CD = ATTS.VENDOR_CD)
        WHEN MATCHED THEN
        UPDATE SET
            VALID_START_DATE = #{VALID_START_DATE}
            , VALID_END_DATE = #{VALID_END_DATE}
            , ATT_FILE_NUM = #{ATT_FILE_NUM}
            , MOD_DATE = SYSDATE
            , MOD_USER_ID = #{ses.userId}
        WHEN NOT MATCHED THEN
        INSERT (
            GATE_CD
            , BUYER_CD
            , DOC_TYPE
            , TMPL_NUM
            , TMPL_SQ
            , DOC_NUM
            , DOC_CNT
            , VENDOR_CD
            , REG_DATE
            , REG_USER_ID
            , MOD_DATE
            , MOD_USER_ID
            , DEL_FLAG
            , VALID_START_DATE
            , VALID_END_DATE
            , ATT_FILE_NUM
        ) VALUES (
            #{ses.gateCd}
            , #{BUYER_CD}
            , 'D02'
            , #{TMPL_NUM}
            , #{TMPL_SQ}
            , '1'
            , '1'
            , #{VENDOR_CD}
            , SYSDATE
            , #{ses.userId}
            , SYSDATE
            , #{ses.userId}
            , '0'
            , #{VALID_START_DATE}
            , #{VALID_END_DATE}
            , #{ATT_FILE_NUM}
        )<include refid="common.sql.comma"/>
    </update>

    <delete id="svnr0010_doDeleteATTS" parameterType="hashMap">
        DELETE STOCATTS
        WHERE GATE_CD = #{ses.gateCd}
        AND BUYER_CD = #{BUYER_CD}
        AND VENDOR_CD = #{VENDOR_CD}
    </delete>
	
	<!-- 협력사의 거래요청 승인시 승인하는 사람의 고객사에게 수수료 요청 -->
    <select id="costSmsInfo" parameterType="hashMap" resultType="hashMap">
        SELECT CUST.IRS_NUM 	AS CORP_NO
             , CVUR.DEPT_CD 	AS BRC
             , <include refid="common.sql.toChar"/>(SYSDATE, 'YYYYMMDD') AS APLY_DT
             , CVUR.USER_ID		AS USER_ID
             , 'SMS_VEND'		<include refid="common.sql.stringMerge"/> '@@' <include refid="common.sql.stringMerge"/>
               CUST.GATE_CD 	<include refid="common.sql.stringMerge"/> '@@' <include refid="common.sql.stringMerge"/>
               CUST.CUST_CD		<include refid="common.sql.stringMerge"/> '@@' <include refid="common.sql.stringMerge"/>
               #{VENDOR_CD}		AS CONT_TBL_PK
             , NULL				AS FILE_SIZE
         FROM STOCCUST CUST
         LEFT JOIN STOCCVUR CVUR
              ON (CVUR.GATE_CD    = CUST.GATE_CD
              AND CVUR.COMPANY_CD = CUST.CUST_CD)
        WHERE CUST.GATE_CD = #{ses.gateCd}
          AND CVUR.USER_ID = #{CTRL_USER_ID}
    </select>
    
</mapper>