<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Fri Mar 02 08:25:38 KST 2012-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st_ones.common.generator.GridGenMapper">

	<select id="getBtnImageInfos" parameterType="java.lang.String" resultType="java.util.Map">
		SELECT SCREEN_ID
		     , COLUMN_ID
		     , SORT_SQ
		     , SQ
		     , NAME
		     , WIDTH
		     , HEIGHT
		     , UP
		     , HOVER
		     , DOWN
		  FROM STOCBTIM
		 WHERE GATE_CD = #{ses.gateCd}
		   AND SCREEN_ID = #{screenId}
	</select>

</mapper>