@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 400;
  src: url(/resource/webfonts/NanumGothic/NanumGothic.eot);
  src: local("NanumGothic"), url(/resource/webfonts/NanumGothic/NanumGothic.eot?#iefix) format("embedded-opentype"), url(/resource/webfonts/NanumGothic/NanumGothic.woff) format("woff"); }

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 700;
  src: url(/resource/webfonts/NanumGothic/NanumGothic-Bold.eot);
  src: local("NanumGothic Bold"), local("NanumGothic-Bold"); }
