<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <!-- Properties -->
    <property name="LOG_HOME" value="/logs/nhepro/log/NHeProOperator" />

    <!-- Appenders -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%X{userId}%d{yyyy/MM/dd HH:mm:ss.SSS} %highlight(%-5level) [%green(%-26(%logger{0}:%L))] %m%n</pattern>
        </encoder>
    </appender>
    <appender name="logfile-web" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/DSPACK-web.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/DSPACK-web/DSPACK-web-%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%X{userId}%d{yyyy/MM/dd HH:mm:ss.SSS} %-5level [%-26(%logger{0}:%L)] %m%n</pattern>
        </encoder>
    </appender>
    <appender name="logfile-batch" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/DSPACK-batch.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/DSPACK-batch/DSPACK-batch-%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} %-5level [%-26(%logger{0}:%L)] %m%n</pattern>
        </encoder>
    </appender>
    <appender name="logfile-interface" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/DSPACK-interface.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/DSPACK-interface/DSPACK-interface-%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} %-5level [%-26(%logger{0}:%L)] %m%n</pattern>
        </encoder>
    </appender>

    <!-- JDBC Packages -->
    <logger name="jdbc" additivity="false">
        <level value="error"/>
    </logger>
    <logger name="org.springframework" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="logfile-web"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" additivity="false">
        <level value="error"/>
        <appender-ref ref="logfile-web"/>
        <appender-ref ref="console"/>
    </logger>

    <!-- Specify Packages -->
    <logger name="com.st_ones" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="logfile-web"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="com.st_ones.common.mybatis.EverSqlLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="logfile-web"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="com.st_ones.common.cache.data.DataCacheCommon" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="logfile-web"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="com.st_ones.batch" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="logfile-batch"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="com.st_ones.interfazz" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="logfile-interface"/>
        <appender-ref ref="console"/>
    </logger>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="logfile-web" />
        <appender-ref ref="logfile-batch" />
        <appender-ref ref="logfile-interface" />
        <appender-ref ref="console" />
    </root>
</configuration>